[2019-04-18 09:10] lorthirk commented on #2467
Please look at my previous comment :smile:

[2019-04-18 13:20] #2560 closed

[2019-04-18 13:38] gitsaycat commented on #2467
Hi @lorthirk
Thank you for spotting that one! Should've spotted that long back. However, now I'm trying to figure out why I'm seeing the following:

`Internal Exception: org.h2.jdbc.JdbcSQLException: Numeric value out of range: "-1605234824608862408715148495145"; SQL statement:
SELECT DISTINCT t1.accept_encoding, t1.app_framework_version, t1.app_identifiers, t1.attributes, t1.bios_version, t1.clie

[2019-04-18 13:55] Coduz commented on #2467
Hi @gitsaycat ,

looking at the error message and the JPA query it seems like that the `device.id` used to query is too big.

Which id you have on the database?

Regards,

_Alberto_

[2019-04-19 00:00] gitsaycat commented on #2467
Hi @lorthirk
Indeed that looks to be the case, but cannot figure out where the larger number is coming from. The following is the point where the bind values are printed out:

= ?) AND (t1.id = ?)) ORDER BY t1.client_id ASC
**bind => [5020660519353585099, -1605234824608862408715148495145]**
Query: ReadAllQuery(referenceClass=DeviceImpl sql="SELECT DISTINCT t1.accept_encoding, t1.app_frame

I see t

[2019-04-19 02:43] gitsaycat commented on #2467
Hi @lorthirk
An observation on this though:
We have been using clientId and deviceId interchangeably - which is obviously bad. However, the following code seems to work fine with clientId - we will test our code again but it would be good to have your thoughts on this confusion:

          'clientId': deviceId, // "pa-test-1", // String | The client id to filter results
          'channel': channe

[2019-04-19 07:21] lorthirk commented on #2467
Unfortunately this is one of the cases where our docs is a bit misleading. The one and only way to target a device is by using the Device ID in the path of the API request. Any field you enter in the JSON body for that purpose (so, both `deviceId` and `clientId`) is actually ignored.

[2019-04-19 07:32] muros-ct commented on #2465
This issue has been closed with PR #2554.

[2019-04-19 07:32] #2465 closed

[2019-04-19 09:36] mteodor commented on #2566
@lorthirk
I'm actually getting exception in  JwtAuthenticatingRealm ( look below )
which is not being caught in GwtAuthorizationServiceImpl since it is not KapuaException and since there is no attempt to create account

and exception in JwtAuthenticatingRealm is UnkonwonAcccount

any
[code]

[2019-04-19 10:09] gitsaycat commented on #2467
Hi @lorthirk
This is clear - and it explains why it was working before and not for the device related APIs.
However, with the URL corrected now with deviceId we get a the new JDBC exceptions:

**HTTP Log**

10:05:53.632220 IP ip-172-20-0-1.ap-southeast-1.compute.internal.48690 > ip-172-20-0-7.ap-southeast-1.compute.internal.http-alt: Flags [P.], seq 0:1325, ack 1, win 229, options [nop,nop,TS val

[2019-04-19 12:05] lorthirk commented on #2566
Unfortunately this log isn't that helpful, since I can't understand exactly where it is failing and why. It looks (but again, I can't be 100% sure) that somehow the token that returns from the SSO server isn't correct anyway. I tested my fork against latest Keycloak and apart from setting up an user, a `console` client and the related audience I managed to get in with SSO. It would be great if you

[2019-04-19 12:09] lorthirk commented on #2467
The big number is coming from the `scopeId`, which is a `BigInteger` composed by the bytes resulting from decoding the stringified version (`Raz4JEnmDcs` in this case) from Base64. Perhaps you're sending something else instead of the correct `scopeId`?

[2019-04-19 13:57] gitsaycat commented on #2467
Thanks @lorthirk, you've almost got me across the finish line here :)
Scope ID is the account Id if I understand things. So now I've replaced the scopeId and deviceId the correct values so that I can see that the HTTP dump looks correct:

**POST /v1/5020660519353585099/devices/670039578401799214/commands/_execute HTTP/1.0**

But in the api server stack trace there are still some exceptions:

Not s

[2019-04-19 13:59] lorthirk commented on #2467
Yes, `scopeId` is the ID of the account in which the REST call will operate.

The `scopeId` and the `deviceId` MUST be supplied in their stringified version, because they WILL be decoded from Base64.

[2019-04-19 14:14] gitsaycat commented on #2467
Hi @lorthirk - the attached file is a screen shot of my elasticsearch browser - I just highlighted a single document - from there I can see:
ScopeId  = 5020660519353585099
DeviceId = 670039578401799214

I was using the values directly in the API - is that incorrect?
Thanks, Gitsaycat

![elastic](https://user-images.githubusercontent.com/14805543/56427921-30afa000-62f0-11e9-9a1f-3d27e22b8dfd.jpg)

[2019-04-19 14:16] lorthirk commented on #2467
So you're extracting the scopeId from a message in the datastore, and using that value to issue a request via REST to the same device? Is this correct?

[2019-04-19 14:33] gitsaycat commented on #2467
Actually I have the scopeId already extracted using the Accounts API.
But yes - I could do it that way as well. Essentially if:

[code]

HTTP trace shows the following URL being used by Kapua internally:

[2019-04-19 14:35] lorthirk commented on #2467
Because the id it's not the Base64 of the string representation of the number, but rather than the values of its bytes.

I'm sorry, but I'm more and more confused. Could you please explain what you're trying to do from an high level perspective?

[2019-04-19 14:41] gitsaycat commented on #2467
Sure - I'm trying to use the Javascript API geenrated by Swagger to send a command to a device.
I have the deviceId and the scopeId required from messages in EL
I tried using the values directly - that did not work and I think you're saying that I should not use the base64 encoded values of the strings as well --  which makes sense.

Would it be: **base64Encode( scopeIdStringValue.getBytes() )** ?

[2019-04-19 14:44] lorthirk commented on #2467
Exactly. You can see that in `KapuaEid`

https://github.com/eclipse/kapua/blob/6695c548a1b6e197600c161d732f8d6362b0384d/commons/src/main/java/org/eclipse/kapua/commons/model/id/KapuaEid.java#L70

And in `KapuaId`

https://github.com/eclipse/kapua/blob/6695c548a1b6e197600c161d732f8d6362b0384d/service/api/src/main/java/org/eclipse/kapua/model/id/KapuaId.java#L48

As you can see the conversion is mad

[2019-04-19 15:04] mteodor commented on #2566
Thank you @lorthirk  for your support
It looks to me that although successfully authenticated user is not created so when SsoCallbackServlet redirects to home page with access token appended GwtAuthorizationService fails to authorize request since it cannot find user.
I'll provide detailed log later.

[2019-04-19 15:17] mteodor commented on #2566
Also I'm getting lots of these in the logs all of sudden
This is from the clean code pulled from git right now
[code]

[2019-04-19 15:57] lorthirk commented on #2566
Well... it looks like someone is trying to access those URLs, that doesn't exist in Kapua. Looks like a Kubernetes client is pointing to that machine?

[2019-04-19 16:47] gitsaycat commented on #2467
Getting there:
Need to conform in Javascript to the java.lang.BigInteger toByteArray() output and also once Base64 encoding is done - padding needs to be removed.

But now new exceptions:

[2019-04-20 12:44] lorthirk commented on #2467
It looks like the log is not complete, you could attach it as a file perhaps. Anyway, it seems that the error is in the connectivity side now. Is the device online and connected?

[2019-04-20 13:28] gitsaycat commented on #2467
Hi @lorthirk
The target devices are definitely online - so it could be again something silly - will check out other issues and come back with more logging if possible.
Thanks Gitsaycat

[2019-04-20 14:34] mteodor commented on #2566
thanks,
as for the login authentication problem it seems that access_token that kapua receives doesnt contain email ( only id_token) I'll have to check with gluu if it is possible to have email claim in access_token though i'm not sure that is in accordance to openidconnect standard

[2019-04-20 15:42] gitsaycat commented on #2467
Good news @lorthirk!
As you may recall I was having problems with all device related API calls. WIth your help - I am now successfully making calls on the configuration read operations. The command execution part is currently the only issue.

Key take-aways:
Some concepts need to be made clearer but knowing what I know now, the solutions are not very hard to work out.

Many thanks for your patienc

[2019-04-20 17:39] lorthirk commented on #2467
Honestly the Swagger definition file needs a major refactoring. I hope I can find some time to improve it soon.

[2019-04-23 08:47] mteodor commented on #2566
I've switched to Keycloak
I'm noticing that sometimes it doesnt let me in right away after the authentication, I have to confirm the url in the address bar then it lets me in or opens login page again and after I press sso login again than it lets me in.

[2019-04-23 08:48] lorthirk commented on #2566
As I said It happened to me as well, but not consistently enough to figure out why. Any input is highly appreciated!

[2019-04-23 09:22] mteodor commented on #2566
I think that it may have something to do with login timeout, I've increased that to 2 min
Also I noticed that logout from kapua doesn't logout from keycloak is that configurable maybe?

[2019-04-23 09:26] lorthirk commented on #2566
IIRC we don't have a login timeout option set anywhere, but I should double check for confirmation.

Kapua session and Keycloak session are absolutely different, and I honestly see this correct. Do you have a different view on this perhaps?

[2019-04-23 12:47] mteodor commented on #2566
For sessions, yes you are right they are different, however it may be required that when logged out from kapua you logout from OP
https://openid.net/specs/openid-connect-session-1_0.html#RPLogout

[2019-04-23 12:56] lorthirk commented on #2566
Good catch. Since it's coming from the OpenID Connect specification we should implement this.

[2019-04-23 13:04] Coduz commented on #2388
Hi all,

this is caused by the fact that CRON does not directly aware of the timezone. To avoid any problem with the server timezone (which is often depending on the underlying OS) I've set all CRON expression created to be based on UTC.

The solution proposed by Aleksandra remove this forcing to UTC, but if (if I'm correct) make thing work only when the timezone of the browser is matching the tim

[2019-04-23 13:58] #1600 closed

[2019-04-23 13:58] #2558 closed

[2019-04-23 14:26] muros-ct commented on #1144
This is issue that occurs inside GWT component that displays this scroll bar.
It can not be fixed without doing changes to GWT, but we are limited with certain version and this is no-go.

[2019-04-23 14:26] #1144 closed

[2019-04-23 14:26] muros-ct commented on #1145
This is issue that occurs inside GWT component that displays this scroll bar.
It can not be fixed without doing changes to GWT, but we are limited with certain version and this is no-go.

[2019-04-23 14:26] #1145 closed

[2019-04-23 14:27] muros-ct commented on #1146
This is issue that occurs inside GWT component that displays this scroll bar.
It can not be fixed without doing changes to GWT, but we are limited with certain version and this is no-go.

[2019-04-23 14:27] #1146 closed

[2019-04-24 07:42] ct-ajovanovic commented on #2388
Hi @Coduz
Yes, I can see how the changes from my PR would't be the correct solution for this issue.
About the alternative solution you proposed:

Do you mean to just add a text below the Cron schedule field?
 Something like _"The entered Cron Schedule must be in UTC" ?_
Make the user think in UTC instead of the local timezone?
Would that be the correct solution?
Regards,
_Aleksandra_

[2019-04-24 09:04] Coduz commented on #2388
Hi @ct-ajovanovic ,

Yes I think that making clear that the CRON must be expressed in UTC should be enough to avoid mistake. The actual issue is that is written nowhere and there is a clear lack of info about that.

Whether to add a tooltip, or edit the label or add a small description under the field (like in the screenshot below) is up to you :) I'm fine with all of those solutions.

![Screen Sh

[2019-04-24 10:33] muros-ct commented on #2388
I also have a considerations regarding scheduling.
It is dependent on where jobs are run from. Is it console module, or broker or api...
This is also dependent in which time zone is server with this services running, so in this case it is really hard to schedule job correctly.
How could this be changed, so it is run at actual UTC time?

[2019-04-25 13:18] #2477 closed

[2019-04-25 13:28] #2388 closed

[2019-04-25 13:46] #1141 closed

[2019-05-03 07:24] LeoNerdoG commented on #1745
I have verified that this issue has been resolved.

[2019-05-03 07:29] LeoNerdoG commented on #2560
I have verified that this issue has been resolved.

[2019-05-03 08:13] LeoNerdoG commented on #2465
Hi @muros-ct,
I have checked this and everything is OK except "N/A" in Settings - it should be "Never" if Expiration date is not set (as in Users - see the screenshto bellow).
Can you please check this also and fix?

![Screenshot 2019-05-03 at 09 59 13](https://user-images.githubusercontent.com/15121999/57126139-2380bf80-6d8c-11e9-9215-af1cf4449659.png)

[2019-05-03 10:13] LeoNerdoG commented on #1600
I have verified that this issue has been resolved.

[2019-05-03 10:15] LeoNerdoG commented on #2558
I have verified that this issue has been resolved.

[2019-05-03 10:19] LeoNerdoG commented on #1141
I have verified that this issue has been resolved.

[2019-05-03 10:30] LeoNerdoG commented on #2388
I have verified that this issue has been resolved.

[2019-05-03 10:36] LeoNerdoG commented on #2477
@ct-anaalbic,
I have found one more problem with this solution. If username/device name contains only "O" letter (look at the screenshot), part of the name is outside of the tootlitp.
Can you please check this (maybe it is a GWT issue?)?

This happens in Chrome, Mozilla, Safari and Opera.

![Screenshot 2019-05-03 at 12 33 50](https://user-images.githubusercontent.com/15121999/57132487-0fdf5400-6da

[2019-05-03 10:38] ct-anaalbic commented on #2477
@LeoNerdoG ,
I will check now.

[2019-05-04 19:20] gitsaycat commented on #2467
I'd love to help with that!
In the meantime it seems the execution now works, but there is an exception at MQTTFacade - possibly because the response is null although the reply queue is created and the response message is placed on it (checked with mqtt-spy)
Any idea what could be the problem this time?

Incidentally this exception

[2019-05-05 02:37] gitsaycat commented on #2467
For clarity:

-
- The command is created and sent out from nodejs from the front end
- The request topic is correctly created with the request message in it
- The target device receives the message, processes the command
- The command response is then correctly placed in the response topic (all verified using mqtt-spy)

At this point I would expect the API server to pick up the response object fro

[2019-05-06 07:55] lorthirk commented on #2467
A long shot, but a too short timeout perhaps? I can't see any reason why it shouldn't work :\ @riccardomodanese any idea?

[2019-05-06 08:18] riccardomodanese commented on #2467
Hi, I didn't read so carefully the whole thread so if I'm missing something please tell me.
From what I saw in your last stacktrace @gitsaycat it seems that a timeout occurred.
But I'm not so sure because this exception could be raised also if the response message is not parsed and converted correctly.
Could you track the MQTT response message from your device to be sure that is a message parsable

[2019-05-06 10:05] LeoNerdoG opened #2574 "Devices Not Editable"
Currently devices are not editable in develop branch - Kapua reports error "All fields with "*" are mandatory".

**Testflow:**
1. Login as kapua-sys or any other user that has proper permissions
2. Go to Devices, add a device (e.g. device123)
3. Select device123 and click Edit - try to edit one of the fields and click "Submit"

**Expected result:**
Devices should be editable.

**Screenshot:**
<img

[2019-05-06 10:35] LeoNerdoG commented on #2489
I am closing this due to discussion in PR #2493.

[2019-05-06 10:35] #2489 closed

[2019-05-06 10:36] LeoNerdoG commented on #2125
Hey @coduz,
do you have any ideas regarding this matter?

Leo

[2019-05-06 10:36] LeoNerdoG commented on #2124
I am closing this due to upper comment.

[2019-05-06 10:36] #2124 closed

[2019-05-06 10:38] LeoNerdoG commented on #2081
I am closing this due to upper comment.

[2019-05-06 10:38] #2081 closed

[2019-05-06 10:39] LeoNerdoG commented on #2007
@coduz should we close this as Wontfix or do you have any other suggestions?

[2019-05-06 11:24] LeoNerdoG opened #2575 "End Date/Time Fields In Jobs -> Schedules Wrongly Marked As Invalid"
If user enters invalid CRON schedule (invalid year according to Start date), Kapua marks End date and End time fields as invalid (look at the screenshot).

**Testflow:**
1. Login as kapua-sys or any other user that has proper permissions
2. Go to Jobs, create a job (e.g. job0)
3. Select job0 and go to its Schedules
4. Click add and enter the following parameters into the fields:
 - Schedule Name:

[2019-05-06 11:46] lorthirk commented on #2467
@gitsaycat Did the request change in the last attempts? Could you post it again please?

[2019-05-06 13:56] LeoNerdoG commented on #2477
I have verified that this issue has been resolved.

[2019-05-06 14:03] LeoNerdoG opened #2577 "Kapua Freezes If Certain Columns Clicked In Devices"
If user clicks on certain columns in Devices -> Packages, bottom part of the GUI gets frozen/disabled.

**Testflow:**
1. Login as kapua-sys or any other user that has proper permissions
2. Connect a live Kura device to Kapua (e.g. device0)
3. Select device0 and go to its Packages
4. Try to click on the "Ended On", "Name", "Version" or "URI" column

**Expected behavior:**
Bottom view should not fre

[2019-05-07 01:42] gitsaycat opened #2578 "Best practices for storing different types of data for same account"
Hi
We are planning to have 2-3 (for now) types of documents being pushed into Kapua as part of different application scenarios. According to current behaviour, the data ends up in EL indices prefixed with the account Id.
From a data usage point of view there is no problem with this.
However, we want to be able to maintain (backup, delete, age etc) the documents differently.
Would it make sense to

[2019-05-07 07:09] Coduz opened #2579 "REST API 'authentication/refresh' sometimes returns 401 unathorized"
**Describe the bug**
When using the REST API resource:

`{endpoint}/authentication/refresh`

sometimes it returns an error of HTTP 401 unauthorized. Retrying the same request can sometimes end up with the same error and sometime being executed correctly.

**To Reproduce**
Steps to reproduce the behavior:
1. Make a successful request to `authentication/user`
2. Refresh the token repeatedly (with th

[2019-05-07 07:13] LeoNerdoG commented on #2028
I have verified that this issue has been resolved.

[2019-05-07 07:13] #2028 closed

[2019-05-07 08:57] Coduz commented on #2125
Hi all,

on this I don't think that there is a reasonable limit. It's a Javascript-type field so it can be as long as the user needed. If we really want to put a limit, set it very high! Or otherwise refer to the max length on the metadata of the config component.

Regards,

_Alberto_

[2019-05-07 09:01] Coduz commented on #2007
The activation of the tabs depends on the Device application available.
If there is no application on the device, the related tab is disabled.
So is by design what you noticed.

We close this as `wontfix`

[2019-05-07 09:01] #2007 closed

[2019-05-07 09:11] LeoNerdoG opened #2581 "Deleting Admin Role Permission Should Not Be Allowed"
This issue is similar to issue #2558 - only here there is a problem with deleting permission of this role. ALL:ALL:ALL:ALL permission should not be deletable, since kapua-sys will loose its ability to add Endpoints if it is deleted.

I suggest message is "Operation not allowed on this specific permission."

**Testflow:**
1. Login as kapua-sys
2. Go to Roles, click on Admin role
3. Go to its Permis

[2019-05-07 12:14] #2425 closed

[2019-05-07 13:13] #2574 closed

[2019-05-07 13:15] #1739 closed

[2019-05-08 07:26] LeoNerdoG commented on #1739
I have verified that this issue has been successfully resolved.

[2019-05-08 07:27] LeoNerdoG commented on #2574
I have verified that this issue has been resolved.

[2019-05-08 07:43] LeoNerdoG commented on #2425
I have verified that this issue has been successfully resolved.

[2019-05-08 08:32] LeoNerdoG commented on #2432
I have checekd this again in latest develop and it seems that this issue does no longer persist. if we encouter this problem again, I will reopen it.

[2019-05-08 08:32] #2432 closed

[2019-05-08 10:25] Coduz commented on #1988
Why there is no PR linked?

[2019-05-08 10:27] Coduz commented on #1904
Why the re is no PR linked to this?

[2019-05-08 10:49] LeoNerdoG commented on #2231
Hi @Coduz,
this is because this issue has been opened for so long and nobody did the fix and after some time it got resolved. It is almost impossible to track down the commit that fixed this.

[2019-05-08 10:49] LeoNerdoG commented on #1988
Hi @Coduz,
this is because this issue has been opened for so long and nobody did the fix and after some time it got resolved. It is almost impossible to track down the commit that fixed this.

[2019-05-08 10:49] LeoNerdoG commented on #1904
Hi @Coduz,
this is because this issue has been opened for so long and nobody did the fix and after some time it got resolved. It is almost impossible to track down the commit that fixed this.

[2019-05-08 14:24] ct-ajovanovic commented on #1627
Hi @Coduz
I have a couple questions regarding the Roles (Admin, Thing) added automatically.
I understand why the `admin` role is added to the `kapua-sys` account and its unique `Target Scope Id`. But why is the `Admin` role added to  every child account? And what is the purpose of the `Thing` role? It is easy for the user to create those Roles when needed isn't it?
Also,  those two roles affect th

[2019-05-09 05:49] LeoNerdoG commented on #2577
I have verified that this issue has been successfully resolve.

[2019-05-09 05:49] #2577 closed

[2019-05-09 06:09] LeoNerdoG commented on #1744
I have verified that this issue has been resolved.

[2019-05-09 06:21] LeoNerdoG commented on #2575
I have verified that this issue has bee resolved.

[2019-05-09 06:21] #2575 closed

[2019-05-09 08:25] Coduz commented on #2231
Hi @LeoNerdoG ,

that you for the explanation. Can we just make that clear when closing? So we know if this has been closed because it was no longer an issue or it has been actually fixed somewhere?

Thanks,

_Alberto_

[2019-05-09 08:57] Coduz commented on #1627
Hi @ct-ajovanovic ,

the automatic seeding of those two roles is to ease the creation of a new account.
Definitely make sense to have this creation match the account limitations.

I would make the creation "optional" based on the current account resources.
Would that make sense?
All the changes should be on the console side, since this is a feature only available when using Console.

Regards,

_Al

[2019-05-09 09:04] Coduz commented on #2319
Hi all,

the "In Progress" tabs shows the status of progress from the device. Currently "Deploy-v2" can only handle one operation at a time. To show something in there you have to install a package which is large enough to make the download last few seconds.

The actual bug is that operations remain "In progress..." while they are (likely) finished.
Is that the case?

Regards,

_Alberto_

[2019-05-09 09:21] ct-anaalbic commented on #2319
Hi,

Yes, operations stays in progress state while they are finished. That is one case. But in this issue, if user send request for package installation this request is not shown in progress tab. I tried to sent request for installation of package which is large enough, but in some reason, status of package always is none, and information about request can not be shown in this tab. Do you have ide

[2019-05-09 10:29] ct-anaalbic commented on #2248
Hi @Coduz

Is this really issue? If user creates endpoint first in kapua-sys account and than in some other child account with same name like in kapua-sys account, this action is allowed. Is this ok or this action should not be allowed?

Thank you.

Regards,
Ana

[2019-05-09 11:28] lorthirk commented on #2483
I feel that impose a limit on a backend functionality just to adapt to the UI is not right. It should be a UI responsibility to adapt and properly show the information correctly.

On the other hand, the 256 limit is probably oversized: I have never seen any account name being more than 30 characters long (and that's a case where an account name is actually an email address).  For sure 256 characte

[2019-05-09 11:35] LeoNerdoG commented on #2125
I am closing this due to upper comment - because it is Javascript type field, its limit is very high.
I tried to test fix for this couple of times (made by @ct-anaalbic) but everytime Kapua craashed.

I think the best thing here is to leave things as they are.

[2019-05-09 11:35] #2125 closed

[2019-05-09 13:07] LeoNerdoG commented on #2483
Hey @lorthirk,
I agree with you thinking - 255 characters long usernames/child accounts are simply too long and must be shortened. Because we already have limit on child accounts set to 50 characters, I suggest we do the same for usernames - bellow is a sample screenshot with 50 character username and 50 character child account.

![Screenshot 2019-05-09 at 15 06 54](https://user-images.githubuserc

[2019-05-09 13:19] #2581 closed

[2019-05-09 17:25] LeoNerdoG commented on #2581
I have verified that this issue has been resolved.

[2019-05-10 06:14] LeoNerdoG opened #2586 "No Permission Documentation"
For now, we have practically no documentation regarding permissions in Kapua so for the last couple of months I have been doing just that - gathering all the knowledge I have gained through extensive testing and put it into one document, which users can use for reference, when something does not work (and it is related to permissions).
I will create PR shortly.

**Testflow:**
1. Go to Kapua docume

[2019-05-10 06:45] LeoNerdoG opened #2588 ""Invalid Login" Error Message Does Not Disappear After Successful Login"
If user first types invalid username and/or password and after that successfully logs in, the "Invalid username or password" error message is still shown, which can imply that user has loged in with invalid credentials (which is not the case, but error message implies that).
I suggest we "reset" all the messages after a successfull login.

**Testflow:**
1. Build Kapua, open browser
2. Enter faulty

[2019-05-10 08:30] #2579 closed

[2019-05-10 09:37] Coduz commented on #2248
Hi all,

I think that the real problem here is that in `kapua-sys` can see all of the endpoints. That view is supposed to show only the ones of `kapua-sys`.

Is the view showing all available endpoints instead, then?

Regards,

_Alberto_

[2019-05-10 09:38] Coduz commented on #2319
Which version of Kura are you using?

[2019-05-10 09:50] ct-anaalbic commented on #2319
I use 3.2.0 version of Kura.

[2019-05-10 10:24] LeoNerdoG commented on #2248
Hej @coduz,
no, kapua-sys cannot see all the endpoints. There is no "real" issue here (because of the nature of Endpoints) but user can have feeling that certain enpoindts are not deleted (because there are multiple same ednpoints in different accounts - see text in original issue).

So the basic queestion here is: Is it OK fur user to create same (identical) endpoints as its parents have or not?

[2019-05-13 05:25] LeoNerdoG commented on #2588
I have verified that this issue has been resolved.

[2019-05-13 05:25] #2588 closed

[2019-05-13 09:40] LeoNerdoG commented on #2586
I have verified that this has been resolved with PR #2590 and #2587.

[2019-05-13 09:40] #2586 closed

[2019-05-13 12:27] LeoNerdoG opened #2591 "Assets In Devices Not Selectable"
if user selects a live device, clicks through all the tabs (Tags - Events - Packages - bundles - Configuration - Command - Assets), the assets in Assets tab are not clickable/highlightable (see gif bellow).

**Testflow:**
1. Login as kapua-sys or any other user that has proper permissions
2. Connect a live Kura device to Kapua (e.g. device0) that has some sample assets
3. In Kapua go to Devices, s

[2019-05-13 12:42] ct-goranpalibrk commented on #2321
Hi @lorthirk About this issue, properties for Device channels are retrieved through Kura, but that isn't case with enabled/disabled property. Do you maybe have some proposal?

[2019-05-13 13:45] lorthirk commented on #2321
As @LeoNerdoG says, this issue depends on eclipse/kura#1904. We cannot fix our own without that one, because we have no other way to recognize a disabled channel.

[2019-05-13 14:12] Coduz commented on #2248
That is ok.

The problem I see is that the situation in screenshot n2 shouldn't never happen!

[2019-05-13 14:21] Coduz commented on #2319
I'll have a test on it to try to diagnose the actual problem :)

[2019-05-13 14:22] ct-anaalbic commented on #2319
Ok, thank you.

Regards.

[2019-05-14 05:21] LeoNerdoG commented on #2248
Hey @Coduz,
I have updated the upper comment and tried again today and issue still persists. i know that the situtaion from second screenshot should never happen, that is why I have opened this issue 😄 .

[2019-05-14 05:21] LeoNerdoG opened #2594 "Narrowed "Available Devices" Tab Can Cause Confusion In Data Tab"
If user narrows left list in upper part of Data tab, Search button gets hidden (which is OK). The problem is if user narrows the view even more, so even Search box gets hidden - in this case if user presses this button, it could get incomplete results due to the fact that Search box does not get cleaned after pressing Search button (user can simply forget that there is something in this field).
I

[2019-05-14 06:03] LeoNerdoG opened #2595 ""Package URL" Not in Error State Although It Contains Illegal Characters"
This issue contains two very similar problems.
1) Although "Package URL" field in Devices -> Packages -> Install contains illegal characters, Kapua does not colour it in red (but error message is shown, which is OK).
I suggest we set this field in error state in case of illegal characters so end-user can faster identify the problem. Error message right to the field should be: "Illegal characters i

[2019-05-14 06:54] LeoNerdoG opened #2596 "After Rebootin Kura Device Packages Are Missing"
**Describe the bug**
A clear and concise description of what the bug is.

**Testflow:**
1. Login as kapua-sys or any other user that has proper permissions
2. Connect a live Kura device to Kapua (e.g. device0)
3. install all available packages from Eclipse marketplace for Kapua 4.1.0

[Demo heater](http://download.eclipse.org/kura/releases/4.1.0/org.eclipse.kura.demo.heater_1.0.500.dp)
[](url)
[](

[2019-05-14 07:30] LeoNerdoG opened #2597 "String Channel Values Not Parsed Correctly"
If user has a device with some String assests (with sample valuse such as "string" or "123"), these strings are not properly parsed when displaying in Kapua - so instead "string" and "132" we get &amp;quot;string&amp;quot; and &amp;quot;123&amp;quot;

**Testflow:**
1. Login as kapua-sys or any other user that has proper permissions
2. Connect a live Kura device to Kapua (e.g. device0) with some sa

[2019-05-14 08:58] Coduz commented on #2248
I've just verified the thing.

The problem is that if an account has no endpoints and there is also no endpoint set in the parents accounts (even `kapua-sys`) the account see all available endpoints registered.

It is unlikely to happen (since we manually add the defaults endpoints for each env) but I'll put a fix on this.

Regards,

_Alberto_

[2019-05-14 09:32] Coduz commented on #2319
Hi all,

I've tried to reproduce it but I was not able to reproduce the situation you had with packages on the "Histroy" tab left as "In progress..." while they are not.

Any advice on how to reproduce?

Regards,

_Alberto_

[2019-05-14 12:08] LeoNerdoG commented on #2319
Hi @Coduz,
after testing this for some time I could not reproduce it either so I am closing this.
If I encounter this in the future, I will reopen it.

I tried this with Kura 4.1.0. since this is the newest version so if it works for this version I think it is safe to close this.

[2019-05-14 12:08] #2319 closed

[2019-05-14 13:40] Coduz commented on #995
Hi all,

This issue has been fixed in the linked PR.

The PR was linked after it has been merged and closed.
This feature was introduced in 1.1.0 and backported in 1.0.4 (see PR for linked project)

Closing this.

Regards,

_Alberto_

[2019-05-14 13:40] #995 closed

[2019-05-14 13:41] Coduz commented on #2088
Hi all,

is this still an issue? Or we can close it?

Regards,

_Alberto_

[2019-05-14 13:44] LeoNerdoG commented on #2088
Hi @Coduz,
I have been following tests on Travis regarding PRs and for now it looks ok. We have to restart maybe one or two tests every month (which is negelctable in my opinion) but I think it is safe to say that tests now do not fail when we create PRs, so I think this can be closed.

[2019-05-14 13:59] Coduz opened #2599 "Implement trigger to fire a job when the device connects"
Implement a "process on connect" feature.

**Describe the solution you'd like**
For a job, being able to create a trigger that fires a job when a device connects.

**Describe alternatives you've considered**
_None_

**Additional context**
This is useful when an account has devices that are not always connected and have only small windows of broker connection

[2019-05-14 14:52] mteodor opened #2601 "REST API Call when using SSO"
Hi,
I've configured kapua to authenticate against keycloak.
Also I have SPA which authenticates against same keycloak instance.
How can I call kapua REST API from my SPA?

[2019-05-15 09:53] #2088 closed

[2019-05-16 13:01] mteodor commented on #2601
@lorthirk any hint on this?

[2019-05-16 13:32] lorthirk commented on #2601
Hi @mteodor,

Are you able to obtain the JWT coming from Keyclocak somehow?

[2019-05-16 13:42] mteodor commented on #2601
Yes, I'm using implicit flow for SPA, so I get access token from keycloak

[2019-05-16 13:45] lorthirk commented on #2601
So you should be able to use that token to authenticate in the `authentication/jwt` endpoint. The response will contain another JWT, this time issued by Kapua, that can be used as a bearer in the `Authorization` HTTP header.

[2019-05-16 13:57] mteodor commented on #2601
super great, thanks a lot

[2019-05-17 06:44] LeoNerdoG commented on #2307
I have verified that this issue is actually not an issue. I did not know that on Kura 4.1.0 user has to set "Command Enable" service to True in order for Kura to except commands and execute them.
So I am closing this.

I suggest we update the error message that is currently "There was a problem with device communication. You have entered an invalid/incomplete command, rebooted/powered down the dev

[2019-05-17 06:44] #2307 closed

[2019-05-17 09:01] LeoNerdoG commented on #1313
I have tried to reproduce this but could not do it (I tried with other packages too), so I am closing this.

[2019-05-17 09:01] #1313 closed

[2019-05-17 15:43] hamburml opened #2604 "How can I send data via MQTT for a specific device? How do I connect a datastorage to kapua which stores the received data."
Hello!

Is there an example where a client is connected by MQTT and not by Kura? I started kapua in a docker environment, created another account and user, assigned permissions, created a device - but I just can't connect via nodejs-application from another container (but they reach each other).

I tried the answer from Coduz https://stackoverflow.com/questions/49033591/publish-message-to-kapua-us

[2019-05-17 15:47] lorthirk commented on #2604
Hello!

First and foremost: when you connect an MQTT client who is not running Kura you will not see it as a device, but only as a connection. This just to clarify that you shouldn't expect to find it in the Devices page; moreover, you don't need to create the Device manually but Kapua will automatically create one once the device registration performed by Kura is completed.

Can you provide a lit

[2019-05-18 09:14] gitsaycat opened #2605 "Calling the REST API from Javascript to set device configuration fails"
Hi
Firstly I should thank you all for helping get me to this point - the whole confusion between deviceId and clientId ( #2467  )  was a big hurdle and thats behind us now.

1.0.3:
Currently we are facing problems when sending configuration change requests from Javascript to the REST API.

                        devicesApi.deviceConfigurationComponentUpdate(scopeId, deviceId, "MYPID",

[2019-05-18 12:50] hamburml commented on #2604
Looks like I had a typo. I can connect to kapua with two nodejs-applications which use MQTT.js.

The example does subscripe to a topic and if this didn't throw any error tries to publish something on that topic. Sadly I don't see the message.

This is the code

[code]

Kapua is running as docker container on Windows 10. Does the newuser need some additional roles or permissions so that topics can

[2019-05-20 07:52] LeoNerdoG commented on #2594
I have verified that this issue has been successfully resolved.

[2019-05-20 07:52] #2594 closed

[2019-05-20 11:58] lorthirk commented on #2605
The schema of the body depends on the Configuration Component itself, so it's hard to provide a default schema. You could check the current schema by just reading a Device Configuration (`/{scopeId}/devices/{deviceId}/configurations` for all configurations, or /{scopeId}/devices/{deviceId}/configurations/{componentId} for a single component), and then issue a new Device Configuration PUT request b

[2019-05-20 12:26] ct-anaalbic commented on #1191
Hi @lorthirk

I have one idea for this issue. Maybe I can add some menu item if username is too long, like on screenshot bellow:

![image](https://user-images.githubusercontent.com/45655642/58020218-cf096e00-7b07-11e9-8121-d879af400aad.png)

When user clicks on this item, he can get dialog with whole username, and also username in label should be truncated and ellipses should be added at the end o

[2019-05-20 13:59] gitsaycat commented on #2605
Hi @lorthirk - that is a great idea and I tried it out immediately.
Strangely - the device always gets that same empty configuration block:

I tried sending back the exact response of a full configuration dump - but still no luck.
The API does use the PID part - so if I change it to something else, the device gets it, but it gets none of the properties
Any ideas?

[2019-05-20 14:02] lorthirk commented on #2605
So, are you saying that you have this behaviour with all the services installed? Also with the ones that comes out of the box with the device?

[2019-05-20 14:06] gitsaycat commented on #2605
Not sure what you mean by 'out-of-the-box' - but brief background:
Our Kapua client is pure Node_red.
We have all interactions working - can register birth, send data, receive data, register CMD-V1, CONF-V1 through Kapua as well as through API.
The only bit that is now not working is when we send configuration update through the API.
Does that clarify things?

[2019-05-20 15:49] lorthirk commented on #2605
Oh, yeah, sorry. I was talking about a standard Kura device, not thinking you're working on Node RED. And this actually the answer: in order to use the Configuration endpoint the app must support the CONF-V1 application from Kura, and in order to do so it has to publish a BIRTH message where it advertise Kapua that he supports it.

You can read more about Kura applications [here](http://eclipse.gi

[2019-05-20 15:55] gitsaycat commented on #2605
Hi Claudio
As mentioned earlier - BIRTHs etc are all working fine.
We have got CONF-V1 working fine with our client.
We can seamlessly edit / view configurations through Kapua and you can also GET configurations through the API.
**We are only missing SET configurations through the API.**
Thanks, gitsaycat

[2019-05-20 16:01] lorthirk commented on #2605
Sorry for having misunderstood. I have to investigate a bit further then. Of course I guess you have no errors in logs, isn't it?

[2019-05-20 16:05] gitsaycat commented on #2605
Hi Claudio - no problem at all - as Kapua users we all appreciate your patience with us.
Indeed there are no errors as far as I can see. Everything works as expected - just that the device side does not get the property elements.

Would just highlight 2 points again:

- The client gets the configuration update message - just that the message does not contain the nested property elements
- The conf

[2019-05-21 07:09] lorthirk commented on #1191
Honestly... I don't thin I like this. It looks... counterintuitive, I think. @LeoNerdoG what do you think?

[2019-05-21 13:45] mteodor commented on #2601
@lorthirk is this the right way to pass the access token
[code]

[2019-05-21 13:57] lorthirk commented on #2601
Yes, that should be correct.

[2019-05-21 15:22] mteodor commented on #2601
this should work right?
[code]

```{"httpErrorCode":500,"message":"HTTP 406 Not Acceptable"}```

[code]

[2019-05-21 15:25] lorthirk commented on #2601
No, as you can see the server responds `406 Not Acceptable` because you're asking for a `text/html` content type while the server can only reply in `application/json` and `application/xml`. So, in order to get a successful reply, you either have to specify `application/json` or `application/xml` instead of `text/html` as the value of the `Accept` header.

[2019-05-21 15:32] mteodor commented on #2601
Ok, thanks

[2019-05-22 08:47] LeoNerdoG commented on #1191
Hej @lorthirk,
I honestly don't know what to think; In some way I like it, but on the other hand it looks weird - somehow it does not fit in this dropdown, so i cannot really decide.

I think there should be a way to show whole username and maybe this is the right way to go (since we already have the dropdown menu in place and no new implementation is needed - but on the other hand it does not lot

[2019-05-22 09:13] LeoNerdoG commented on #2595
I have verified that this issue has been resolved.

[2019-05-22 09:13] #2595 closed

[2019-05-22 09:14] lorthirk commented on #1191
I agree. The more I think about it and the less I like it, so please, let's find another solution!

[2019-05-22 10:15] Coduz opened #2606 "Add an example value for JobStepDefinition.properties"
Currently on the JobStepAddDialog, when you select a Job Step Definition is not clear what you need to write in the field and there is no hint on what the user is expected to type in those fields.

**Describe the solution you'd like**
Have a way to provide the user with some example data that can be edited to the user's preference and then can be submitted to the platform.

**Describe alternatives

[2019-05-22 14:50] mteodor commented on #2601
@lorthirk is there anything that i need to set additionally for api to be called from my SPA I'm having problem with CORS, I dont have CORS headers in response from kapua

[2019-05-22 14:53] lorthirk commented on #2601
No, CORS headers should be automatically set for every REST call. I just tried in a local installation, and I can correctly see them:
[code]
Are you sure your SPA is not dropping them somehow?

[2019-05-23 06:06] mteodor opened #2607 "SSO Login and auto creation of users"
Hi I have configured kapua with keycloak authentication
with kapua-security-registration-simple included so user that is authenticated is automatically added
as I understood reading comments here that externaly authenticated user will have automacially created account and user in that account
Does this mean that I cannot have multiple users in one account that I can authenticate externally?
Note t

[2019-05-23 07:31] lorthirk commented on #2607
Yes, the current implementation is mostly suitable for a public testbed deployment, and has been kindly contributed by @ctron. However, just my two cents: I think most of it is completely pluggable, so you could think about implementing a new module that reads some attribute coming from the Keycloak JWT so that the users are added in a specific account rather than creating a new one?

[2019-05-23 09:11] mteodor commented on #2607
If preconfigure my users in kapua so that I have account with associatied user  that have email assigned and turn-off auto-registration will the authentication work?

[2019-05-23 10:02] lorthirk commented on #2607
I think it should, since the email field should be the one used to match the user. But please don't take this for granted, it's been a long time since that part has been developed and I may be wrong. The best you could do is to give it a try and report the result 😄

[2019-05-24 13:29] #2597 closed

[2019-05-27 06:40] LeoNerdoG commented on #2597
I have verified that this issue has been resolved.

[2019-05-27 08:00] mteodor commented on #2607
Hi @lorthirk
I fails
[code]
        final User user;
        try {
            user = KapuaSecurityUtils.doPrivileged(() -> userService.findByExternalId(id));
        } catch (AuthenticationException ae) {
            throw ae;
        } catch (Exception e) {
            throw new ShiroException("Error looking up the user", e);
        }

        // Check user existence

        if (user == null)

[2019-05-27 08:02] lorthirk commented on #2607
Ok. So an idea could be to change the user provisioning when logging in the first time to also set the external ID as the email.

[2019-05-27 08:08] lorthirk commented on #2607
Ok. So your best shot would be to create the user via REST API where you can set the `externalId` field as well.

[2019-05-27 10:10] mteodor commented on #2607
what would be the best way to implement this, I'f I'm creating user via REST, shall I use user like kapua-sys  to create user?

[2019-05-27 10:13] lorthirk commented on #2607
Whatever user you would be using via console. Anyway the user needed to create the others would need `user:read` and `user:write` permissions; it's up to you to have that permissions forwardable (if you plan to put users in different child accounts) or not.

[2019-05-28 03:01] bestbelief opened #2610 "hello, Failure to find org.eclipse.kapua.external:aliyun-java-sdk-dysmsapi:jar:1.0.0"
Failure to find org.eclipse.kapua.external:aliyun-java-sdk-dysmsapi:jar:1.0.0 现在这个包好像在mven仓库中找不到，org.eclipse.kapua.external这个组织名是空的
![image](https://user-images.githubusercontent.com/34058047/58447709-e9f76600-8137-11e9-864f-0e3a415e6eea.png)

[2019-05-28 03:14] bestbelief commented on #2610
[ERROR] Failed to execute goal org.apache.maven.plugins:maven-dependency-plugin:3.0.1:unpack (unpack-swagger-ui) on project kapua-rest-api-web: Unable to find/resolve artifact.: Failure to find org.eclipse.kapua.external:swagger-ui:jar:2.1.4-CQ-10792 in https://repo.maven.apache.org/maven2 was cached in the local repository, resolution will not be reattempted until the update interval of central h

[2019-05-28 03:21] bestbelief commented on #2610
in this file kupua-rest-api-web-pom.xml:
<build>
        <finalName>api</finalName>
        <plugins>
            <plugin>
                <groupId>org.apache.maven.plugins</groupId>
                <artifactId>maven-dependency-plugin</artifactId>
                <executions>
                    <execution>
                        <id>unpack-swagger-ui</id>
                        <phase>prepare-p

[2019-05-28 07:10] lorthirk commented on #2610
Hello,

As you can read in the [Developer Guide - Building](https://www.eclipse.org/kapua/docs/1.0.0/developer-guide/en/building.html), before building Kapua itself you have to build the `kapua-external` module by running `mvn clean install -f external/pom.xml`

[2019-05-28 07:47] Coduz opened #2611 "Release notes 1.0.6"
#### Description

Write release notes for `1.0.5`

#### Affeccted environment

_None_

#### Related issues

_None_

#### Additional info

_None_

[2019-05-28 08:55] bestbelief commented on #2610
Ok, Thank you very much！ My problem has been solved.

[2019-05-28 10:54] stefanomorson opened #2612 "jobs - track progress during long running operations"
When a long running operation is executed, there is a limited possibility that some unsolicited messages sent by the device in order to notify the progress are delivered before the operation execution returns.
As a consequence, if the operation was invoked by a device job, the notification handler is not able to address the correct job in order to update the status and trigger execution of the nex

[2019-05-28 15:10] stefanomorson commented on #2612
Content of the issue moved to the pull request #2524.
This issue closed.

[2019-05-28 15:10] #2612 closed

[2019-05-30 08:31] manuraf commented on #2566
@mteodor can you post your docker-compose with JAVA_OPTS about Keycloak configuration?
Thank you

[2019-05-30 08:33] lorthirk commented on #2566
May I suggest you to also use the [Kapua room on Gitter](https://gitter.im/eclipse/kapua) for discussions, so we can keep the issue a little bit cleaner?

[2019-05-30 09:14] riccardomodanese commented on #2578
Hi, the ES indexes creation is not exposed by Kapua. You can only choose the granularity of the indexing creation (so by hours/day/week) (right @lorthirk ?)
Do you need to index (and maintain) account data in 2 or 3 different indexes types based on publish topic or data contained in the messages?

[2019-05-30 09:15] lorthirk commented on #2578
Correct.

[2019-05-30 09:17] #2606 closed

[2019-05-30 09:24] riccardomodanese commented on #2604
Hi, the error logged by the broker means it's receiving a wrong Kura payload (from your code it seems you are publishing plain text messages right?).
Kapua provides a mechanism to handle different payload types (translators) but there is just the Kura translator implementation right now.
I'm quite sure the clients are reconnecting every 2-3 seconds due to a stealing link exception. Do you set diff

[2019-05-30 09:33] mteodor commented on #2566
[code]

and you need .env file in the directory where docker-deploy.sh is
contents of .env
[code]

[2019-05-30 10:05] Coduz commented on #2417
Hi @gitsaycat

We can close this then?

Regards,

_Alberto_

[2019-05-30 10:09] Coduz commented on #2467
Can this be closed?

[2019-05-30 10:10] #2536 closed

[2019-05-30 10:10] #2555 closed

[2019-05-30 10:32] Coduz commented on #2605
Hi @gitsaycat ,

have you find a way to get around this issue?

Regards,

_Alberto_

[2019-05-31 08:31] gitsaycat commented on #2578
Yes we have different data types and hence ideally different indexes in the
same account.

As we get closer to final state for our system we are realizing that we
need to be a lot closer to elasticsearch for production.
Without better control over indexes, mapping etc we will not be able to
scale, and or manage the system.

We understand that it's good to hide some details of underlying storage
en

[2019-05-31 09:59] lorthirk commented on #2578
Hey @gitsaycat,

We recently opened a [Kapua room on Gitter](https://gitter.im/eclipse/kapua). You can also ask there for a quicker discussion :)

[2019-05-31 10:18] riccardomodanese commented on #2578
The workaround you are suggesting I think is the only one solution without changing the Kapua code.
The child accounts are segregated and indipendent from the parent account.

Having the possibility to have a control over the indexes handling it's for sure a good improvement to do from my point of view.
I'll take a look to the code to understand how it's possible to do so and I can give you some s

[2019-05-31 10:19] #2547 closed

[2019-06-04 15:06] Coduz commented on #2273
Hi @LeoNerdoG ,

on this, the Timeout refers to the maximum time that the processing for each target can take. If the device answers to the platform in less time, all is good and the job start to process the next target.

You can test this specifying a smaller timeout (1ms) or run a command with this input

[code]

and a timeout (the field on the form, not the timeout on the `CommandInput`) less t

[2019-06-04 15:26] Coduz commented on #2596
Hi @LeoNerdoG ,

isn't this more on the Kura side?

Regards,

_Alberto_

[2019-06-04 15:42] Coduz commented on #2563
Hi all,

I think that having a toggle button on the grid toolbar in which you can select whether or not to show that. Switching the toggle ON will start a new query on the DB asking also for the position and returning it in the result.
Columns will be grouped to distinguish them from the actual metrics of the messages.

This approach also is save net traffic when the position data is not required

[2019-06-04 15:56] Coduz commented on #2483
Hi all,

On this I would be fine to shorten the max length of those names.
I'm fine also with 32 for both.

Account names are usually kept short to save traffic since it is contained in the topic of the MQTT namespace of an account.

Regards ,

_Alberto_

[2019-06-04 15:59] Coduz commented on #2461
Hi @LeoNerdoG,

since this is usually due to a permission configuration error I think that stick to the more conservative approach is good.

Does the situation change if the permission are added in reverse order?

Regards,

_Alberto_

[2019-06-05 04:57] LeoNerdoG commented on #2596
Hey @Coduz,
I have been workin with Kura team on this and they reported (and I also tried) that if packages are installed in Kura, they stay there even after reboot.
But if they are strictly installed through Kapua, they get deleted somehow when device is rebooted.
So on their side everything looks ok. But I guess this is "mutual" problem, that would need detail examination.

[2019-06-05 05:25] LeoNerdoG commented on #1800
I have verified that PR #2592 has resolved this issue. The maximum length for this field has been increased to 1M, so this should solve all our problems with the wire graph (at least for now).

[2019-06-05 05:25] #1800 closed

[2019-06-05 05:46] LeoNerdoG commented on #2461
Hey @Coduz,
this only happens, if user first adds non-forwardable permissions and after that forwardable ones.
If they are added in reverse order, everything works fine.

[2019-06-05 05:47] LeoNerdoG commented on #2483
Ok, I think this is a good solution 😄

[2019-06-05 06:00] LeoNerdoG commented on #2273
Hey @Coduz,
yes, this makes sense. Maybe we should chenge the tooltip on the field to be more accurate.
i am closing this due to upper comment - this is not an issue.

[2019-06-05 06:00] #2273 closed

[2019-06-05 09:10] Coduz commented on #2596
Hi @LeoNerdoG ,

I've spoke with Matteo suggest that could be that the bundles have not loaded yet. You did the check of installed packages right after reboot or you waited a while?
Matteo also suggest to check also the content of

to check installed packages.

Regards,

_Alberto_

[2019-06-05 09:38] LeoNerdoG commented on #2596
Hej @Coduz,
Yes, i have checked and refreshed the "installed" subtab and all the packages were there.
I have checked this again now and the issue persists. 75% percent of packages get deleted after user executes command "sudo reboot" from kapua.

[2019-06-05 14:45] Coduz commented on #126
Hi @LeoNerdoG ,

has this been solved?

Regards,

_Alberto_

[2019-06-05 14:46] Coduz commented on #110
Hi all,

do we want to implement this in Console V1?
Just asking to know how to manage labels.

Regards,

_Alberto_

[2019-06-05 14:47] Coduz commented on #109
Hi all,

This issue can be closed since Console V2 is no longer a thing, right?

Regards,

_Alberto_

[2019-06-06 04:59] LeoNerdoG commented on #126
Hey @Coduz,
this has no been resolved yet. There are no tests Stefano descbire above regarding this.

[2019-06-06 05:38] LeoNerdoG commented on #2596
@Coduz update:
I have waited for half an hour and packages are not listed in /opt/eclipse/kura/data/packages so I guess this is the problem? Maybe if we add the packages too fast, Kura cannot handle it? I can talk with Matteo today regarding this.

[2019-06-06 08:44] Coduz commented on #2596
Hi @LeoNerdoG ,

the strange thing is that this occurs only with Kapua remote management.
We will wait Kura guys to give us information.

I still think that this problem is more on Kura side rather than Kapua side.

Regards,

_Alberto_

[2019-06-06 08:46] LeoNerdoG commented on #2596
Hey @Coduz,
I have talked with Kura team today and I also reported issue on their side. They said, they will take a look 😄
So we should "sit back and relax" until we get som info from them 😄

Regards,
Leo

[2019-06-06 09:59] Coduz commented on #126
Hi @LeoNerdoG ,

Yes this is something that we wanted to be carried on.
Makes more sense waiting the QA refactoring to me merged before start work on this?

I'll check with @stefanomorson what is the status on this issue BTW

Regards,

_Alberto_

[2019-06-06 11:18] LeoNerdoG commented on #126
Hej @Coduz,
yes, it would be logical to wait for QA refactoring to be merged, otherwise there would come conflicts for sure and we would lose time with debuging and fixing this. But we can add tests for this also, no problem 😄

Regards,
Leonardo

[2019-06-14 12:55] Coduz opened #2622 "Support to Cloud defined Display Name"
**Is your feature request related to a problem? Please describe.**
Currently is not possible to use a server defined _Display Name_ for devices. Is someone sets a different display name after the next BIRTH message the device _Display Name_ gets reset to the one sent from the device (empty by default)

**Describe the solution you'd like**
Always use the _Display name_ that is sent from the Device

[2019-06-17 09:40] #2622 closed

[2019-06-19 13:36] LeoNerdoG opened #2624 "Console Does Not Start"
When building latest develop with `mvn clean install -DskipTests -Pconsole,docker` command, console does not start (at all).
I have deleted all the docker containers, .m2/ repo and started from scratch.

**Testflow:**
1. Delete .m2/ repository
2. Delete all docker containers (or at least all that are connected to kapua): `docker system prune -a`
3. Checkout latest develop branch from GitHub
4. Run

[2019-06-20 06:08] LeoNerdoG commented on #2624
After some investigation I power-cycled my MAC and that did the trick.
Nevertheless, this should not happen. Ever.
Closing as this is not an issue any more. For anyone who has similar problem: first shutdown computer and wait couple of minutes.
Then follow the procedure above and it should work.

[2019-06-20 06:08] #2624 closed

[2019-06-24 14:18] Coduz commented on #2374
https://github.com/eclipse/kapua/releases/tag/1.0.5

[2019-06-24 14:18] #2374 closed

[2019-06-25 14:31] #2599 closed

[2019-06-26 10:02] Coduz opened #2629 "List permission and roles in AccessToken after REST API login"
**Is your feature request related to a problem? Please describe.**
AccessToken returned by REST API login does not return info about Permission and Roles assigned to the logged user. This makes mandatory to make 4-5 subsequent calls to REST API to retrieve those informations.

**Describe the solution you'd like**
Return useful data about Permission, Roles and RolePermission in the AccessToken retu

[2019-06-26 10:15] Coduz opened #2630 "Improve Java primitive type recognition in JobStepProperty.type"
**Is your feature request related to a problem? Please describe.**
Now to specify primitive types in `JobStepPropety`.`type` field you need to specify the fully qualified name of the class. This makes interaction from the REST API and programmatic access a bit weird and it is exposing the fact the there is Java behind.

**Describe the solution you'd like**
It would be nice that at least primitive

[2019-06-26 14:13] Coduz opened #2631 "Move kapua-broker-core module as submodule of kapua-broker"
**Is your feature request related to a problem? Please describe.**
`kapua-broker-core` module is a root module of kapua and there is a `kapua-broker` module (which contains `kapua-broker-api` submodule.

**Describe the solution you'd like**
It would make sense to move `kapua-broker-core` as a submodule of `kapua-broker`. This will not affect Javacode nor dependencies on `kapua-broker-core` module.

[2019-06-28 13:58] cdealti opened #2636 "Data by Topic/Device should allow selecting messages by position"
**Is your feature request related to a problem? Please describe.**
The current protocol buffer definition includes a `Position` object which is not available in the the Data by Topic/Device search of the Kapua Console.

**Describe the solution you'd like**
Selection/filtering of messages based on the position attributes in the same way implemented for `Metrics`.

**Describe alternatives you've con

[2019-07-02 01:55] Xingxv opened #2639 "Failure to find org.eclipse.kapua.external:swagger-ui:jar:2.1.4-CQ-10792"
Hello,
following error occurred when i `mvn clean install`

[ERROR] Failed to execute goal org.apache.maven.plugins:maven-dependency-plugin:3.0.1:unpack (unpack-swagger-ui) on project kapua-rest-api-web: Unable to find/resolve artifact.: Failure
 to find org.eclipse.kapua.external:swagger-ui:jar:2.1.4-CQ-10792 in https://repo.maven.apache.org/maven2 was cached in the local repository, resolution w

[2019-07-02 06:59] lorthirk commented on #2639
As stated in [developer-guide/en/building.md](https://github.com/eclipse/kapua/blob/develop/docs/developer-guide/en/building.md):

[2019-07-02 06:59] #2639 closed

[2019-07-02 10:01] Xingxv commented on #2639
thank you.

[2019-07-03 10:03] Xingxv opened #2641 "How can i change database connect to my local MySQL"
I want to store Kapua data to local MySQL.
How can i do?

[2019-07-03 13:28] lorthirk commented on #2641
Kapua currently uses Elasticsearch to store devices telemetry data, and H2 to store backend data. If you're talking about storing telemetry data in MySQL instead of using Elasticsearch, you need to write a different implementation for `kapua-datastore-api`. Otherwise, if you're looking to replace H2 with MySQL, you can provide all the configuration via system properties. You can see an example in

[2019-07-03 13:29] #2641 closed

[2019-07-03 14:46] lorthirk commented on #2611
https://github.com/eclipse/kapua/releases/tag/1.0.6

[2019-07-03 14:46] #2611 closed

[2019-07-03 15:05] #2467 closed

[2019-07-03 15:05] #2605 closed

[2019-07-03 15:06] #2417 closed

[2019-07-04 10:19] #2521 closed

[2019-07-05 06:40] gitsaycat commented on #2605
Hi Alberto
Unfortunately no workaround to this one yet - we will give this one another go and then report back to this forum.
Thanks.

[2019-07-05 11:12] LeoNerdoG opened #2645 "Undescriptive Error Message When Job (Re)started"
If user "starts" or "restarts" specific job that does not have targets or steps configured, a backedn like message is thrown at user (see the screnshots). I suggest Kapua reports errors with more user-friendly messages.

**Testflow:**
1. Login as kapua-sys or any other user
2. Go to Jobs, create a job (e.g. job1)
3. Select job1 and without adding targets or steps, Run or Restart the job
4. Kapua r

[2019-07-09 09:02] LeoNerdoG opened #2648 "Cucumber Integration Testing Documentation"
In recent weeks, cucumber integration tests have been merged. Because there is no documentation regarding this (what is cucumber, how to write tests etc.) I will add all the necessarry information in qa.md document in **/docs/developer-guide/qa.md**.

**Testflow:**
N/A

**Expected behavior**
N/A

**Screenshots**
N/A

**Version of Kapua**
1.1.0-SNAPSHOT

**Main component affected**
[x] Console (in

[2019-07-12 14:11] LeoNerdoG commented on #2648
I am closing this since the PR #2649 has been merged.

[2019-07-12 14:11] #2648 closed

[2019-07-12 14:22] LeoNerdoG opened #2654 ""compose_broker_1" container not properly started"
After running all the commands necessary to run the docker, "compose_broker_1" container does not start properly. Docker prints out that "creating compose_broker_1.....DONE" but when running "docker ps" command, there is no broker container running. After executing command "docker-deploy.sh" command again, the container starts properly.
Can anybody confirm this? This happens on MAC and Windows mac

[2019-07-12 14:59] lukas-bender-rodriguez opened #2655 "Expected Performance of broker (docker deployment)"
We see in our development deployment of Kapua a very poor performance of the broker. After we had connected about 15 simulated Kura-GW with Kapua, we had to find out that Kapua could not keep up with saving the data in the Elasticsearch database anymore. The load was about 7 messages per second.

Our deployment differs in certain ways from the deployment provided here. We use hosted elasticsearch

[2019-07-12 15:05] lorthirk commented on #510
I'm closing this since I couldn't reproduce it, given that `ResultList.totalCount` is a `long`. Of course it will be reopened should we get a positive test case.

[2019-07-12 15:05] #510 closed

[2019-07-15 09:54] Coduz commented on #2654
Hi Leo,

this should have been fixed by this https://github.com/eclipse/kapua/pull/2650

You still have the problem even after using the latest `develop`?

Regards,

_Alberto_

[2019-07-15 10:44] LeoNerdoG commented on #2654
hey Alberto, I am having troubles today the whole day. I am figuring what is the problem exaclty. If/when I found out, i will report. Please leave it open until then.

Regards,
leo

[2019-07-15 11:49] riccardomodanese commented on #2655
Hi, giving an answer is difficult without informations about docker servers sizing and messages structure (raw payload size and number and type of metrics contained).
Anyway I think @muros-ct can share performace test results to give you an idea about the overall system performance.

[2019-07-16 11:03] lukas-bender-rodriguez commented on #2655
The size of the messages differs but a typical message stored in elastic-search looks like:
[code]

The vm running the broker is a Standard_D4s_v3 (https://docs.microsoft.com/de-de/azure/virtual-machines/windows/sizes-general#dsv3-series-sup1sup) . It solely hosts the broker, api, event-broker and the console. The performance of elasticsearch looks good:
![grafik](https://user-images.githubusercon

[2019-07-18 13:32] LeoNerdoG commented on #2655
Hi @lukas-bender-rodriguez,
I will answer on behalf of Uros who is not on the proejct any more.
Bellow you will find the test results that we have from some time ago (15th April 2019).

Types of requests that are being sent:

•	HTTP Request – Used for counting messages that are being sent
•	MQTT Request  (BIRTH) – Message for creating device
•	MQTT Request – Metrics sent from device
•	MQTT Request

[2019-07-19 13:26] LeoNerdoG opened #2662 "No Job-Engine-Service Cucumber Integration Tests"
For now, we do not have any job-engine-service cucumber integration tests. We should add tests online device, offline device, multiple devices and for all the possible steps (command execution, Configuratio put...) to check if everything is OK.

We will devide scenarios in multiple Pull Requests to avoid CQ (I think this is not necessary for integration tests).

**Testflow:**
/

**Expected behavio

[2019-07-19 13:56] muros-ct commented on #2655
Tnx @LeoNerdoG for sharing report. But! We have to be careful about these results, this is really basic test and environment was not set up completely as it should be. I think results could be even better if test environment would be set up completely independently.
Also network issues were not taken into consideration during this test.

If anyone is interested in testing MQTT on Kura, I recomend

[2019-07-25 14:20] Coduz opened #2665 "Inconsistent sorting of result set of messages when sort is not given"
**Describe the bug**
Invoking

- GET messages
- POST messages/_query (with no sort order defined)

via REST API will result in a not ordered result set which makes paginating not working.
This is likely due to the fact that a default sort is not defined.

**Expected behavior**
There should be a default ordering when requesting data.

- Messages sorted by timestamp DESC
- ChannelInfo sorted by full

[2019-07-31 07:43] #2665 closed

[2019-07-31 15:05] #2155 closed

[2019-08-02 09:53] Coduz commented on #2654
Hi @LeoNerdoG ,

Any update on this issue?

Regards,

_Alberto_

[2019-08-02 09:58] Coduz commented on #2566
Closing for inactivity.
Feel free to reopen if you need it.

[2019-08-02 09:58] #2566 closed

[2019-08-02 09:58] Coduz commented on #2578
Closing for inactivity.
Feel free to reopen if you need it.

[2019-08-02 09:58] #2578 closed

[2019-08-02 09:58] Coduz commented on #2601
Closing for inactivity.
Feel free to reopen if you need it.

[2019-08-02 09:58] #2601 closed

[2019-08-02 09:59] Coduz commented on #2604
Closing for inactivity.
Feel free to reopen if you need it.

[2019-08-02 09:59] #2604 closed

[2019-08-02 09:59] Coduz commented on #2607
Closing for inactivity.
Feel free to reopen if you need it.

[2019-08-02 09:59] #2607 closed

[2019-08-02 10:48] LeoNerdoG commented on #2654
Hey @coduz,
I think there was a problem on my machine (if I remember correctly I rebooted it and it was OK). I will close this for now and if it happens again, I will investigate it.

[2019-08-02 10:48] #2654 closed

[2019-08-02 11:53] Coduz commented on #2654
We should add the message that before submit an issue, reboot your machine and try again 😂😂😂

[2019-08-02 16:08] riccardomodanese commented on #2655
Hi, I did a test using an AWS machine (m5.xlarge - 4 cores - 16GB) and I didn't notice any performance issue with a load comparable with yours.

Test machine:
	m5.xlarge - 16GB - 4cores
	Centos based AMI
	OpenJDK 1.8
	Docker 1.13.1

Remote clients:
        20 clients
        publishing rate 150ms (aggregated messages rate around 130msg/s)
        20 metrics/message

Kapua
	latest develop (based on

[2019-08-05 13:55] ct-ajovanovic opened #2673 "Docker deploy script not working on Windows"
**Describe the bug**
After an apparently successful docker deploy of Kapua on Windows, the user can not connect a Kura device to it.

**To Reproduce**
Steps to reproduce the behavior:
1. Remove old docker containers and images running `docker system prune -a`
2. Perform new clean install using `mvn clean install -DskipTests -Pconsole,docker` command
3. Run the Windows deploy script `.\docker-deplo

[2019-08-07 13:35] #1687 closed

[2019-08-07 13:40] ct-ajovanovic commented on #2673
The problem was solved after review and update of the Windows firewall rules.
It seems like the issue occurred after a windows update, and it consequently affected more than one user.
Steps for fixing the issue:
1. Open the Windows Security tab and go to the Advanced settings (_Screenshot 1_)
2. New tab will be opened. Go to Inbound Rules subtab (_Screenshot 2_)
3. Click New Rule button (_Screensh

[2019-08-07 13:40] #2673 closed

[2019-08-08 10:33] Coduz opened #2676 "Release notes 1.0.7"
#### Description

Write release notes for `1.0.7`

#### Affeccted environment

_None_

#### Related issues

_None_

#### Additional info

_None_

[2019-08-09 14:10] ct-anaalbic opened #2677 "Problem with endpoint_info permission on Back-End side"
**Describe the bug**
On GUI side, if user which not have `endpoint_info` permission try to find endpoint without account permission, it will not work. Also if the same user try to edit or delete endpoint in every case it won't be possible. But in tests, scenario like this is passed.

**To Reproduce**
Steps to reproduce the behavior:
1. Login as kapua-sys or any other user that has proper permissio

[2019-08-20 13:54] MEGLALS opened #2680 "Is there a best-practice to upgrade to a newer Kapua Version?"
We are currently using Kapua version 1.0.0-M7 and are wondering if there is a 'official' way or best practice to upgrade to the current version without loosing our entire configuration.
We have tried multiple methods but always ran into issues regarding the kapua-sys user or the events-broker.

[2019-08-20 15:13] lorthirk commented on #2680
Well... the general rule is to simply let Liquibase perform its migrations when launching the new version. Anyway, since 1.0.0-M7 is quite an old version, I can see that something may go wrong. It would be great if you could post some logs in order to understand your issues.

[2019-08-21 07:42] MEGLALS commented on #2680
So we are deploying Kapua via docker. How exactly would we have to do an update to use Liquibase for the migrations? We only tried to back up the whole database, redeploy the docker containers with a newer kapua version and then restore the database manually which led to the problems but apparently this is not the way an upgrade should be done.

[2019-08-21 08:18] lorthirk commented on #2680
My suggestion is to stop all the containers but the SQL one (so using `docker stop` and `docker rm` instead of `docker-undeploy.sh`), and then deploy again with the new images. Liquibase is set to run by default.

[2019-08-21 09:52] MEGLALS commented on #2680
I tried this method with multiple configurations (1.0.0-M7  -> 1.0.6; 1.0.0 -> 1.0.6; 1.0.0-M7 -> 1.0.0)  an the following execution:
1. stopping and removing all containers except SQL
2. changing the  IMAGE_VERSION to the desired version
3. runnig the deploy script
However after every run the entire configuration was gone and the database wiped. Is it necessary to deploy all containers except the

[2019-08-21 09:59] lorthirk commented on #2680
Well, all SQL data is in the SQL container (`compose_db_1`), so if you keep the container from being removed (i.e. you **don't** use `docker-undeploy.sh`) all data should still be there when you deploy again. Are you sure the container doesn't get deleted somehow?

For the GWT error, have you tried cleaning your browser's cache when changing version?

[2019-08-21 11:22] MEGLALS commented on #2680
I was able to find out why the sql container kept getting removed:
In the deployment script, the command used to deploy the containers is 'docker-compose -f ${SCRIPT_DIR}/../compose/docker-compose.yml up -d'. This however also stops and recreates all containers whose images have changed even when they are currently running. In order to prevent this and keep the database I just added the '--no-recr

[2019-08-21 11:45] lorthirk commented on #2680
Well, it's very unlikely that the DB container will change in the future. However, once the other containers have been upgraded, you can do that backup and restore on the new image you were talking about.

[2019-08-21 16:36] lorthirk opened #2681 "commons.db.connection.useSsl setting not honored"
**Describe the bug**
Despite using `commons.db.connection.useSsl`, such setting is not used when building the JDBC connection string

**To Reproduce**
Steps to reproduce the behavior:
1. Set `commons.db.connection.useSsl` from one of the configured settings source
2. Start Kapua and wait for a SQL DB connection to a DB that only allows SSL connections
3. Kapua reports an error

**Expected behavior

[2019-08-22 08:11] lorthirk opened #2682 "Elasticsearch Client Basic Authentication Support"
**Is your feature request related to a problem? Please describe.**
Our Elasticsearch client doesn't currently support Basic Authentication.

**Describe the solution you'd like**
We should enable Basic Authentication via the Elasticsearch client.

**Describe alternatives you've considered**
A workaround would be to embed username and password in the Base URL of the Elasticsearch server, but it's a

[2019-08-22 13:07] MEGLALS commented on #2680
After trying this method with a test system that is similar to our productive system (ssl, changed passwords) everything seems to have worked out. But I noticed that the kapua-broker user, which seems to be a default user account in versions >1.0.0, was not created. That is different from my previous test runs were it was created after updating the containers.  What could cause this behaviour and

[2019-08-23 09:20] lorthirk commented on #2680
`kapua-broker` user should definitely be seeded by default. There's no Liquibase migration that deletes it in any version, so again, you should definitely have it. Anyway is by no means a special user; should you need it, you can create another user named `kapua-broker` with the `broker:connect` permission.

[2019-08-26 06:55] MEGLALS commented on #2680
What kind of functionality does the kapua-broker user exactly provide? And is it necessary to deposit it's password in an environment variable like with the kapua-sys user?
Also, I still have the problem that the kapua-sys user gets locked after some time. Is the procedure for changing the password of the kapua-sys user still the same as described in #2031 or have there been changes to how changin

[2019-08-26 09:15] lorthirk commented on #2680
the `kapua-broker` is simply a pre-seeded user with the `broker:connect` permission, so that it can be used on a device to connect to the broker and send data. In any aspect is a normal user, just like the ones you can create on Kapua; so, no, there's no special treatment for its password whatsoever.

I can't understand exactly what you mean with the second part of your comment, about the `kapua-s

[2019-08-26 09:15] #2680 closed

[2019-08-27 12:58] #2681 closed

[2019-08-28 13:42] stefanomorson opened #2689 "Full support of DEPLOY-V2 request parameters."
In order to execute a package deployment interactively through the UI I needed to specify the credentials required to securely connect to the remote http repo where the package was stored. I realized then that the UI does not support this use case. However, as defined in Kura doc, DEPLOY-V2 cloudlet not only allows to specify repo credentials in the request, but has many other request parameters t

[2019-08-28 14:46] #2682 closed

[2019-08-28 15:16] Coduz commented on #2689
| Metric | Supported | Will be supported? |
|--------|-----------|--------------------|
| dp.job.id | Yes | Already supported |
| dp.uri | Yes | Already supported |
| dp.name | Yes | Already supported |
| dp.version | Yes | Already supported |
| dp.download.protocol | No | Maybe? |
| dp.download.block.size | No | No |
| dp.download.block.delay | No | No |
| dp.download.notify.block.size | No | No

[2019-08-28 15:25] Coduz commented on #2676
https://github.com/eclipse/kapua/releases/tag/1.0.7

[2019-08-28 15:25] #2676 closed

[2019-08-30 14:40] Coduz commented on #2677
Hi @ct-anaalbic ,

Uhmmm it seems like a corner case. All you said is true.
But this is due to the fact that the `Settings` view is reserved to user with `account:view` permission.

A strange thing is that the `user1` is able to edit and delete since permission required to perform those actions are:
update: [AUTHORIZATION_SERVICE.checkPermission(PERMISSION_FACTORY.newPermission(EndpointInfoDomains

[2019-09-02 07:35] ct-anaalbic commented on #2677
Hi @Coduz,

Yes, I will check this.

Regards,
_Ana_

[2019-09-03 07:26] ct-anaalbic commented on #2677
Hi @Coduz,

I checked this. If role permissions are created with `scopeId`, than permissions which are assigned to role are with domain `endpoint_info`, and with actions `read`, `write` and `delete`. But It is defined in test scenario. If i create permissions with  `targetScopeId`, than an illegal value is forwarded for `scopeId` and scenario is failed.

But can the user modify or add endpoints in

[2019-09-03 09:26] ct-anaalbic commented on #2677
I just tried to delete or edit endpoint with user which has _endpoint_info_ permissions created with `targetScopeId`. On this way, only searching for endpoints are enabled. Other actions, like editing or adding endpoints are not allowed. Maybe this is the solution?

Regards,

_Ana_

[2019-09-04 13:36] Coduz commented on #2689
Next version

| Metric | Supported | Will be supported? |
|--------|-----------|--------------------|
| dp.job.id | Yes | Already supported |
| dp.uri | Yes | Already supported |
| dp.name | Yes | Already supported |
| dp.version | Yes | Already supported |
| dp.download.protocol | No | No |
| dp.download.block.size | No | Advanced. |
| dp.download.block.delay | No | Advanced. |
| dp.download.noti

[2019-09-10 13:51] mmb-davidsmith commented on #803
Are there any designs / plans for this feature? We're considering Kapua for a project and this will be important to have in the device registry solution we choose. If there's a clear estimate of the work, it's something we could consider contributing back as part of our evaluations.

Having looked through issues, it seems like #2206 indicates there's been some discussion on the predicate design an

[2019-09-11 07:36] reda-alaoui opened #2700 "Disabling cleanSession on a MQTT client leads to a security exception"
**Describe the bug**
When I create an Eclipse Paho client without clean session option, subscribing to a topic leads to security exception thrown by KapuaSecurityBrokerFilter.
Doing the same with the clean session option works fine.

**To Reproduce**
Steps to reproduce the behavior:
1. On Kapua, create an account 'ACME123'
2. On Kapua, create a user 'user123' for the account 'ACME123'
3. Give role

[2019-09-12 15:10] GuillaumeBrgn opened #2701 "Bug while connecting Kapua broker to MariaDB"
We are trying to connect Kapua to MariaDB.

First we have copied the MariaDB driver into the broker container, then we put the environnement variables for ACTIVEMQ_OPTS like this :
-Dcommons.db.connection.scheme=jdbc:mariadb
-Dcommons.db.schema.update=true
-Dcommons.db.jdbcConnectionUrlResolver=MariaDB
-Dcommons.db.jdbc.driver=com.mariadb.jdbc.Driver
-Dcommons.db.username="kapua"
-Dcommons.db.pass

[2019-09-12 15:38] lorthirk commented on #2701
The `${now}` notation is a Liquibase abstraction to use the proper function when running the migrations, so I need to investigate a bit what's going on.

What version of Kapua are you running, and how do you deploy it?

[2019-09-12 15:55] ypershin opened #2702 "an issue with birth certificate when GPS is on"
the DB can't hold 4 digits altitudes

Caused by: org.h2.jdbc.JdbcSQLDataException: Value too long for column "POS_ALTITUDE DECIMAL(11, 8)": "1062.00000000 (12)"; SQL statement:
INSERT INTO dvc_device_event (action, created_on, event_message, received_on, resource, response_code, sent_on, created_by, device_id, id, pos_altitude, pos_heading, pos_latitude, pos_longitude, pos_precision, pos_satellite

[2019-09-13 08:36] Coduz commented on #2702
Hi @ypershin

We have a misconfigured column on the DB which is configured as `DECIMAL(11:8)` which limits the max value to `999.99999999` (max 3 digits before point).

We will change the column definition to `DECIMAL(13:8)` to allow greater values.
We will also check for other fields that may need some tweaks.

Reference on Gitter: https://gitter.im/eclipse/kapua?at=5d7a63fc46d428101b05d56b

This

[2019-09-13 10:14] mderbal commented on #2701
Hello lorthirk,

I'm working with Guillaume Bourgoin and that's why I answer in his place.

We used the version 1.0.6 of kapua , we add driver for mariadb in the docker image's before sending it to openshift.

we have also a mariadb container on openshift named db and exposed on port 3306 , we have created the database kapuadb on it with the grant privileges.

[2019-09-13 10:33] Coduz commented on #2701
Hi all,

The configuration of the parameters seems correct, matches the configuration that we use to test MariaDB compatibility.
If the Driver is correctly configured, everything should work.

The problem I can see is that Liquibase is not replacing `${now}` properties in `.xml` schema definition files. This property should be resolved by looking at the `common-properties.xml` file, which accordin

[2019-09-13 10:34] Coduz commented on #803
Hi @mmb-davidsmith ,

Yes we have some ideas around this. We want to implement this as soon as possible due to the importance that filtering of the results has.
This should be implemented in Kapua 1.2.0 (and, according to requests, may backport this in Kapua 1.1.0 which is scheduled to be released by October).

Since we are used to Elasticsearch we would like to follow a similar schema which, look

[2019-09-13 12:18] mderbal commented on #2701
I tried to connect to terminal before the container end in error.
Please see the attached files for a screenshot of the contents of tmp directory

[2019-09-13 12:21] mderbal commented on #2701
![Screenshot_2019-09-13 OpenShift Web Console](https://user-images.githubusercontent.com/45426153/64861992-b92d3500-d631-11e9-9c34-f4e263deae50.png)

[2019-09-13 12:50] Coduz commented on #2677
Hi @ct-anaalbic ,

Sorry for the long awaiting.

The endpoint can be only edited by `kapua-sys`. This is because the host name usually must match a DNS record or a specific IP of the deployment.
So this is something that a regular user should not be able to manage.

Instead this info must be available to all user since they are meant to be of public domain to know which is the broke URL for exampl

[2019-09-13 12:56] mmb-davidsmith commented on #803
Hi @Coduz,
I don't have a general idea yet. I'll need to dig into the elasticsearch query mechanism to understand how queries would be formulated.

In terms of the general filtering, I've seen it but we will eventually need to be able to filter on things like model, app versions, firmware versions, multiple tags (both and and or operations), and it would also be very nice to be able to query by lo

[2019-09-13 13:08] Coduz commented on #2701
Hi @mderbal ,

You can run the container with the `/bin/bash` to start the container and make it not die when the broker goes on error.

From there, you have to check the execution logs of the broker to find where it is the `tmp` directory of the broker (sorry I didn't mentioned that was the `tmp` of the broker), in which all liquibase files are copied before executing them.

By doing the `ls -lR`

[2019-09-13 13:18] mderbal commented on #2701
![capturetmp](https://user-images.githubusercontent.com/45426153/64865505-b5051580-d639-11e9-8d77-16c8b30afd64.png)

[2019-09-13 13:21] mderbal commented on #2701
I see that the directory you want was not /tmp but /opt/activemq/tmp and it contains the .xml used by liquibase to create the tables.

[2019-09-13 15:11] stefanomorson opened #2704 "Device configurations - upload and apply native Kura snapshots"
The *Upload & Apply* feature currently supports only Kapua snapshot format.
Suppose that a user saved the snapshot from the Kura web console by accessing the device locally and wants to apply it to another device already deployed in the field. There's no easy way to upload the file in Kapua without hacking the content of the file.

*Upload & Apply* should allow the user to specify the format of th

[2019-09-16 08:36] mderbal commented on #2701
Hi,

No news for our issue , can you please help us ?

Regards

[2019-09-16 09:01] Coduz commented on #2701
Hi @GuillaumeBrgn ,

Is that all of the content of the container?
It seems interrupted in the execution!

_Alberto_

[2019-09-16 09:28] LeoNerdoG opened #2705 "Same Status When Job Not Started And When Job Stopped"
If user stops a job before it is finished, its status is set to "PROCESS_AWAITING". This process status is exactly the same as it is for a job that has not been started yet.
I suggest that we change this to e.g. "PROCESS_STOPPED" so user will have more detailed information regarding the job execution.

**Testflow:**
1. Login as kapua-sys or any other user that has proper permissions
2. Connect a l

[2019-09-16 09:28] LeoNerdoG opened #2706 "Job Execution In "Executions" Does Not Finish"
If user starts a job and goes imediatelly to "Executions" tab, the spinning circle icon does not turn into chequered flag (job finished), althoguh job is finished. There should be a certain refresh on this tab? If user changes tab, the "Executions" get refreshed, so there is a workaround it but we should think of a better solution.

**Testflow:**
1. Login as kapua-sys or any other user with proper

[2019-09-16 09:37] mderbal commented on #2701
Hi

Yes it's all the contents , the interruption came after the prompt $ like you can see

[2019-09-16 10:27] Coduz commented on #2701
That seems a lot strange because the list should be a lot longer. As you can see there are only scripts for the 0.2.0 release. You should find also some in a folder called 1.0.0.

Are those container that you built on your own, right?

[2019-09-16 12:36] mderbal commented on #2701
Hi,

Yes and I show another folder 1.0.0 is not present on my container

[2019-09-16 12:39] Coduz commented on #2701
Uhmm it seems that for some reasons the container has not being built correctly then.

What command you used to build?
Which is the starting TAG?
What changes you made?

[2019-09-16 12:41] Coduz commented on #2706
Hi Leo,

no we do not have auto-refresh on the tabs.
Do the JobExecutions gets completed if you then refresh the results?

Regards,

_Alberto_

[2019-09-16 12:47] Coduz commented on #2655
Hi @lukas-bender-rodriguez ,

do you have any other question on this topic?

Regards,

_Alberto_

[2019-09-16 12:50] Coduz commented on #2702
Hi @ypershin ,

I've made a PR that should solve the problem. If you want you can check if that works for you.

Unfortunately our CI is not picking up the changes and it is not restarting the build, so a bit more time will be required to merge the PR.

Regards,

_Alberto_

[2019-09-16 12:50] LeoNerdoG commented on #2706
Hey,
yes, the tabs get refreshed and everything is ok if tab is refreshed. I know this is a general "problem" with all the views.
I realized just now, that this is actually duplicate of issue #1079 so I am closing this - i had a feeling this issue was posted before but I could not find it.

[2019-09-16 12:50] #2706 closed, assigned to Coduz

[2019-09-16 12:51] Coduz commented on #2706
No problem!

[2019-09-16 13:53] ypershin commented on #2702
Hi Alberta,
Thank you.  How do I check if that works?

[2019-09-16 13:54] ypershin commented on #2702
Sorry, Alberto

[2019-09-16 13:55] lorthirk commented on #2702
You can checkout and build the `fix-gpsInfoColumns` branch (the PR is #2703)

[2019-09-16 14:04] mderbal commented on #2701
The tag is 1.0.6 and the changes we do :
- adding jars driver MySQL and MariaDB in the container by using docker build command with ADD command in DockerFile.
- replacing in xml files ${now} by NOW()

[2019-09-16 14:17] ypershin commented on #2702
I've deployed kapua-fix-gpsInfoColumns;  still get error message 'Value too long for column "POS_ALTITUDE DECIMAL(11,8)"'

![image](https://user-images.githubusercontent.com/8020305/64965407-2c18f480-d85a-11e9-802a-433a7808bd2d.png)

[2019-09-16 15:57] Coduz commented on #2702
Uhmmm I'll check on that but the column should have been updated!
Sorry for that!
I'll try it again tomorrow morning!

[2019-09-16 17:47] reda-alaoui commented on #2700
Why the `Question/support` label?
Is it not a bug?

[2019-09-17 07:19] riccardomodanese commented on #2700
sorry our fault

[2019-09-17 08:16] Coduz commented on #2702
Hi @ypershin ,

I've just tested with the containers built from the branch with the fix and I'm able to insert your values in the DB.

![Screen Shot 2019-09-17 at 10 13 42 AM](https://user-images.githubusercontent.com/3942036/65023867-06f8b480-d934-11e9-835c-c6aed98f3986.png)

The only different thing I did was to update directly the database Device Event created. Could you please try to edit your

[2019-09-17 08:46] reda-alaoui commented on #2700
Thanks :)

[2019-09-17 09:05] Coduz commented on #2701
You have published your branch?
I would like to checkout the code and try.
It would be much easier to investigate the problem!

[2019-09-18 11:04] zanpizmoht opened #2709 "Bug While Creating a New Tag From Backend"
**Describe the bug**
When creating a tag manually through back end and SQL case there is no checking if the tag name is too short, too long, or contains invalid symbols.

**To Reproduce**
Steps to reproduce the behaviour:
1. In the code, manually create a tag with name "A" with create method from TagServiceImpl.java
2. The tag is created, but it should not be as it is too short (the same goes for

[2019-09-18 13:45] mderbal commented on #2701
No I don't have published my branch , it's the same code than published on GitHub on branch develop.

Just added the drivers mariadb-java-client-2.4.3.jar,mysql-connector-java-8.0.17.jar and mysql.jar and replaced  in xml files liquibase ${now} by NOW()

[2019-09-18 19:01] ypershin commented on #2702
Hi Alberto,
I finally deployed Kapua with your fix. It works fine.  Thank you.

[2019-09-19 10:51] zanpizmoht opened #2710 "Bug While Creating a New Group From Backend"
**Describe the bug**
When creating a group manually from backend or SQL case there is no checking if the group name is too short, too long, or contains invalid symbols.

**To Reproduce**
Steps to reproduce the behaviour:
1. In the code, manually create a group with name "G" (or name with invalid symbols or a too long name) with create method from GroupServiceImpl.java
2. The group is created, but

[2019-09-19 12:28] ct-ajovanovic opened #2711 "Bug found on Configuration Put job step tests with invalid xml properties"
**Describe the bug**
While working on jobEngineService integration tests with an online device, I came across some strange behavior with the Configuration Put job step.
Even if an invalid xml is passed as a configuration property to the step creator and the job is started, the correct `KapuaIllegalArgumentException` is thrown, somehow the `$EDC/kapua-sys/rpione3/CONF-V1/PUT/configurations` topic s

[2019-09-19 13:10] ct-ajovanovic commented on #2711
The issue was solved after reviewing the new changes on the KuraDevice class, and now everything works correctly. I'm closing this issue.

[2019-09-19 13:10] #2711 closed, assigned to nobody

[2019-09-20 11:02] zanpizmoht opened #2713 "Bug While Creating a New Device From Backend"
**Describe the bug**
When creating a device manually from backend there is no checking if the Client Id and/or Display Name contains invalid symbols.

**To Reproduce**
Steps to reproduce the behaviour:
1. In the code, manually create an offline device with name "Dev@123" with create() method from DeviceRegistryServiceImpl.java
2. The device is created, but it should not be as its names contains no

[2019-09-20 13:13] riccardomodanese commented on #2700
Hi @reda-alaoui, I'm working on this issue and I wrote a patch.
It's not fully tested so it's still in a branch ([fix-MqttCleanSessionAcl](https://github.com/eclipse/kapua/tree/fix-MqttCleanSessionAcl)).
If you have a chance, can you test your application against this branch and give me a feedback?

**Before testing the fix please note:**
with clean session false and the Virtual topic feature acti

[2019-09-20 14:19] riccardomodanese opened #2714 "Possible device event loss and not updated device last event type field"
**Describe the bug**
when a lot of control messages like BIRTH, DC and APPS are sent very close to each others, some of them could be lost leading to a possible not updated device last event type

**To Reproduce**
It's not so easy to reproduce since it depends on the target machine load.

**Expected behavior**
We expect to have no missing events (BIRTH) and the device last event type aligned to th

[2019-09-23 08:34] Coduz commented on #2701
Hi @mderbal ,

could you please publish your changes? I would like to debug the changes and check where the problem is.

Thanks,

_Alberto_

[2019-09-23 09:12] ct-anaalbic opened #2717 "Impossible starting the job with two "Command Execution" steps"
**Describe the bug**
In test scenario, if user try to add online target/s to the job, and after that two `Command Execution` steps with `Bundle Start` or `Bundle Stop` step between them, starting of the job is impossible.

**To Reproduce**
Steps to reproduce the behavior:

1. Login as `kapua-sys` and `kapua-password`
2. Create a job
3. Add one or more online devices as job targets
4. Add `Command

[2019-09-23 09:47] reda-alaoui commented on #2700
Hi @riccardomodanese ,

Thanks a lot.
I am going to test this today.

[2019-09-23 10:40] #2702 closed, assigned to Coduz

[2019-09-23 14:15] mderbal commented on #2701
Hi @Coduz,

For mariadb you can take the latest version of docker container and for events-broker the tag 1.0.6.
For the broker who makes the issue , you can download the container image archive in the link below :
https://we.tl/t-BzZdixhO9r

Regards

Momo

[2019-09-23 15:41] Coduz commented on #2701
I've tried to download the exported container.
It starts but it is dying with no output, so I cannot help you with this.

[2019-09-24 12:28] #2689 closed

[2019-09-24 16:51] ghost commented on #2655
Sorry for the late reply and thanks for the helpful feedback. However, we decided to use a dedicated mqtt broker to handle telemetry data and to use the kapua broker for the device management solely.

In our specif use case this seems appropriate because a simple mqtt broker is sufficient for us and we don't use the additional possibilities of ActiveMQ and Camel.

[2019-09-25 06:42] Sravannarra opened #2719 "Unable to store a new Kapua Data Message using Kapua Rest API"
I'm trying to store a new Kapua Data Message using KapuaRestAPI with the below body
**BODY:**
{
  "clientId": "virtual",
  "scopeId": "AQ",
  "receivedOn": "2019-09-24T10:01:47.682Z",
  "position": {
    "type": "kapuaPosition",
    "precision": 0,
    "timestamp": "2019-09-24T10:01:47.682Z",
    "status": 0,
    "longitude": 0,
    "latitude": 0,
    "altitude": 0,
    "heading": 0,
    "speed":

[2019-09-25 09:32] lorthirk commented on #2719
I see you're missing some parts in your body. Please use this example as a reference:
[code]

[2019-09-25 10:00] Sravannarra commented on #2719
Thank you for quick support @lorthirk

[2019-09-25 10:00] #2719 closed, assigned to nobody

[2019-09-26 10:55] stefanomorson opened #2726 "Device registration error when connectionIp exceeds field size"
#### Description
If a birth message contains a *connectionIp* metric which has a value that exceeds the length of the field in the device registry DB table, the registration of the device fails.

#### Affected version
Kapua version: 1.0.6

#### Expected result
The length of the value of this metric can vary significantly based on the device, the infrastructure where the device is deployed etc. The

[2019-09-26 12:30] Coduz opened #2727 "Release notes 1.0.8"
#### Description

Write release notes for `1.0.8`

#### Affeccted environment

_None_

#### Related issues

_None_

#### Additional info

_None_

[2019-09-26 15:50] Coduz commented on #2701
HI @mderbal ,

Do you still need help?

Regards,

_Alberto_

[2019-09-30 09:30] Coduz commented on #2701
Hi @mderbal ,

I'm closing this.
Feel free to reopen this if you need more help.

Regards,

_Alberto_

[2019-09-30 09:30] #2701 closed, assigned to Coduz

[2019-09-30 13:59] reda-alaoui commented on #2700
Hi @riccardomodanese ,
Sorry I could not test this earlier.

With your patch, with **cleanSession** off, the topic subscription does not fail anymore (yay !), but the subscribed client does not receive messages anymore. If I re-enable the **cleanSession** option, the messages are received by the client.
Should I do something in addition in Eclipse Paho to be able to receive messages when **cleanSe

[2019-09-30 14:56] Coduz commented on #2727
https://github.com/eclipse/kapua/releases/tag/1.0.8

[2019-09-30 14:56] #2727 closed, assigned to lorthirk

[2019-09-30 15:17] riccardomodanese commented on #2700
No it should work whithout any additional setting.

Are you following the steps 5 and 6 of the issue description? (your client does nothing on message arrive callback. Did you change the code to be able to detect if the message is sent to the client?)

Which is the topic your client is publishing and which is the client profile?

[2019-09-30 16:15] reda-alaoui commented on #2700
Yes I am following the same steps. Yes my callback prints a message. The same callback prints a message with cleanSession on but does not with cleanSession off.

The message is published on `ACME123/yo/acme/bus` .
Not sure what you mean by client profile. The message is published with `QoS=1` and `Retain=false`.

[2019-10-01 08:49] #2100 closed

[2019-10-01 12:34] reda-alaoui commented on #2700
For the record, the consuming client is Eclipse Paho 1.2.2

[2019-10-01 13:38] gesaleh opened #2730 "move kapua dokcers to another server"
Hi

is it possible and how to move an instance (dockers) that is running on cloud instance to another cloud instance (I don't want to loose the registered devices or job or users)
in fact, the change will be it is new IP (we can change the kapua mqtt IP by dns entry

thanks

[2019-10-02 07:44] #574 closed

[2019-10-02 12:10] reda-alaoui commented on #2700
When Paho 1.2.2 with clean session OFF is directly connected to activeMQ (without Kapua wrapping), messages are correctly received.

[2019-10-02 14:16] reda-alaoui commented on #2700
@riccardomodanese I am now sure I can't receive messages with my configuration because of the wildcard topic subscription.

Subscribing without wildcard is OK with cleanSession ON and cleanSession OFF.
Subscribing using wildcard is KO with cleanSession OFF.

[2019-10-02 14:29] reda-alaoui commented on #2700
Please note that the issue is specific to Kapua.
Wildcard subscription works fine with ActiveMQ and cleanSession OFF.

[2019-10-02 15:20] Coduz commented on #2730
Hi @gesaleh,

I think that this is more a topic for the Docker documentation.

If you didn't set up the persistence, you'll lose all data stopping the container. The easiest thing would be to make the dump of the databases and restore the dump on the new instances.

Regards,

_Alberto_

[2019-10-03 08:03] riccardomodanese commented on #2700
Yes during my first tests ([see comment](https://github.com/eclipse/kapua/issues/2700#issuecomment-533548779)) when subscribing with QoS>0 the message topic contains the wildcards.
No it doesn't seem a Kapua only issue, I tested ActiveMQ 5.14.5 (whithout any external software) and the behaviour is the same.
I'm still doing some investigations to understand if there is something we can do on Kapua

[2019-10-03 08:58] riccardomodanese commented on #2700
Just for my curiosity, could you repeat your tests using a Paho Mqtt callback implementation instead of a lambda expression on subscription?

[2019-10-03 13:16] reda-alaoui commented on #2700
@riccardomodanese , using the callback changes nothing for me.
I uploaded my tests to https://github.com/Cosium/paho-module
It contains 2 integration tests, one with ActiveMQ the other with Kapua.
It uses TestContainer so you should be able to run it easily.

As you will see on this project, the ActiveMQ tests pass while the Kapua ones fail.

[2019-10-03 13:37] riccardomodanese commented on #2700
I did a quick look at your tests. They are slightly different from mine since you are connecting through ws.
The ActiveMQ container you are using has a different configuration compared to which we are using in Kapua.
The virtual topic feature is disabled.
You can get the same configuration changing the connector setting in [activemq](https://github.com/eclipse/kapua/blob/develop/assembly/broker/co

[2019-10-03 15:25] reda-alaoui commented on #2700
Did you mean the plugin of the develop branch? Because when I disable virtual topic on develop branch, the subscription leads to:
[code]

[2019-10-03 16:11] riccardomodanese commented on #2700
Are you using kapua-sys or kapua-broker as user to connect? Because if you get this error with kapua-broker user it's right.
Anyway tomorrow I will try to test Kapua without virtual topic.

[2019-10-03 16:12] reda-alaoui commented on #2700
I am using user kapua-sys

[2019-10-04 08:49] riccardomodanese commented on #2700
If you clean the [VT_TOPIC_PREFIX](https://github.com/eclipse/kapua/blob/develop/broker-core/src/main/java/org/eclipse/kapua/broker/core/plugin/KapuaSecurityBrokerFilter.java#L106) constant and change the [camel subscription](https://github.com/eclipse/kapua/blob/develop/assembly/broker/configurations/camel.xml#L112) to something like (just for testing, _see *_):

`uri="activemq:topic:>?asyncConsu

[2019-10-04 15:26] LucaDazi opened #2731 "device/request API returns metrics with no value in response"
When executing a devices/{deviceId}/request, and putting in Kura only response.code in the response message, Kapua includes generic exception metrics in the response, without a value, as per the following example:
[code]

Steps to reproduce the behavior:
1. Execute a devices/request API on a connected Kura device
2. Put only response.code=200 in the response metrics
3. See error

**Expected behavi

[2019-10-07 12:38] Coduz commented on #2730
Hi @gesaleh ,

any update on this?

Regards,

_Alberto_

[2019-10-10 12:31] gesaleh commented on #2730
Hi

this is what I tried to do backup DB but I might did it wrong
what is the exact procedure of backup/restore

Thanks

[2019-10-11 08:12] Coduz opened #2736 "Release notes 1.1.1"
#### Description

Write release notes for `1.1.1`

#### Affeccted environment

_None_

#### Related issues

_None_

#### Additional info

_None_

[2019-10-14 08:43] Coduz commented on #2730
Hi @gesaleh ,

this is H2 database section that you have to follow.

http://www.h2database.com/html/tutorial.html?highlight=backup&search=backup#upgrade_backup_restore

Regards,

_Alberto_

[2019-10-14 08:44] Coduz commented on #2655
Hi @lukas-bender-rodriguez ,

Good.
I'll close the issue then.

Regards ,

_Alberto_

[2019-10-14 08:44] #2655 closed

[2019-10-15 09:52] activey commented on #2081
@LeoNerdoG did you resolve it somehow? I cant find any ticket in eclipse/kura repo for that ...

[2019-10-15 11:43] LeoNerdoG commented on #2081
Hey @activey,
I have reported this now](https://github.com/eclipse/kura/issues/2556).
I have to be honest with you and say that I haven't been using Kapua a lot lately so I kind of forgot on this.
If this is a blocker for you, please refer to [Eclipse/Kura](https://github.com/eclipse/kura) project - they should be able to help you fast.

[2019-10-15 12:08] activey commented on #2081
#response_container_BBPPID{font-family: initial; font-size:initial; color: #646464;}                                                                                                                                        Hey, Many thanks for pushing it forward. BR

[2019-10-17 13:30] dragonAstur opened #2740 "Resuse existing users when SSO login"
**Is your feature request related to a problem? Please describe.**
I've been trying to use the SSO login to let the users of my applications interact with Kapua with the same login that they would use to access other application.
Doing research in the SSO login and some experiments it seems that right now is not very useful, mainly because when a user does login for the first time using SSO, Kapua

[2019-10-17 14:06] Coduz opened #2741 "Release notes 1.1.0"
#### Description

Write release notes for `1.1.0`

#### Affeccted environment

_None_

#### Related issues

_None_

#### Additional info

_None_

[2019-10-17 15:40] lorthirk opened #2743 "Use special characters in the password can lock out users"
**Describe the bug**

Currently if users change their passwords they can potentially lock themselves out of Kapua . The reason is Kapua interprets some characters in the passwords. For example if you have a '<' in the password you're out of the games.

**To Reproduce**
Steps to reproduce the behavior:

1. Create a password with '<' in it.

**Expected behavior**
Login should succeed.

**Version of

[2019-10-17 15:47] lorthirk opened #2744 "REST Data Messages metric has stale value type"
**Describe the bug**
The messages returned by the Data Messages REST does not seem to update the metric value type if this has changed.

**To Reproduce**
Steps to reproduce the behavior:
1. Send a data message
1. Use REST API to retrieve the message back
1. Observe the difference in metric value

**Actual behaviour**
The value type (string) of the`metric_1` metric returned by the Data Messages RES

[2019-10-18 13:01] lorthirk commented on #2741
[Done](https://github.com/eclipse/kapua/releases/tag/1.1.0)

[2019-10-18 13:01] #2741 closed, assigned to lorthirk

[2019-10-18 13:47] lorthirk commented on #2743
It seems that this has been already fixed in Kapua 1.1.0 or previous. It looked like a duplicate of eclipse/kapua#1478, but that was fixed in 1.0.0 already.

[2019-10-18 13:47] #2743 closed, assigned to lorthirk

[2019-10-21 12:03] #2744 closed, assigned to lorthirk

[2019-10-21 15:20] Coduz commented on #2730
Hi @gesaleh ,

any update on this?

Regards,

_Alberto_

[2019-10-23 14:45] pintify opened #2748 "Data always set with timestamp of reception in Kapua"
**Describe the bug**
The data sent to Kapua seems to be always timestamped as the instant when it was received, instead of the time configured in the message.

**To Reproduce**
1. Configure an account with DEVICE_TIMESTAMP as dataIndexBy field in MessageStoreService.
2. Send a message codified as KuraPayload protobuf whose field timestamp is set to a timestamp in the past.
3. Look for that value i

[2019-10-24 07:46] pintify commented on #2748
Results from a basic test:

Kapua configuration:

![imagen](https://user-images.githubusercontent.com/31854894/67463695-2d4ff500-f642-11e9-9774-6395b1b1dec4.png)

Message configuration on C:

[code]

As seen, the timestamp corresponds to Sunday, September 22, 2019 1:30:06 PM.

However, when the data is requested in Kapua, it appears at current time:

![imagen](https://user-images.githubusercontent

[2019-10-25 12:35] Coduz opened #2749 "Release Notes 1.0.9"
#### Description

Write release notes for `1.0.9`

#### Affeccted environment

_None_

#### Related issues

_None_

#### Additional info

_None_

[2019-10-28 10:11] ct-anaalbic opened #2750 "Different behavior between back-end and front-end account service implementation"
**Describe the bug**
The method which creates accounts has different behavior on GUI side and on back-end side.

**To Reproduce**
Steps to reproduce the behavior:
1. Login as _kapua-sys_
2. Create child account _TestAccount_
3. Try to find role _Admin_ or role _Thing_
4. Role should be found

**Expected behavior**
The scenario above passed on GUI side, but in back-end tests scenario is failed, and

[2019-10-28 11:32] pintify commented on #2748
We've discovered that the protobuf source was bad created in C language and we needed to change the declaration of the timestamp to be a required field in order for it to be sent. Once done that, the timestamp was properly processed in Kapua.

[2019-10-28 11:32] #2748 closed, assigned to nobody

[2019-10-29 14:03] ct-ajovanovic opened #2752 "Persistence Operation Error should not be returned"
**Describe the bug**
While working on the `TriggerService` integration tests, I got a `KapuaException` with the text `"Error during Persistence Operation"` when setting a 256 character trigger name.
This error is not specific enough, and it displays unneeded information to the user.
I would recommend to replace it.

**To Reproduce**
Run the following scenario:
[code]
The scenario will be run succe

[2019-10-29 16:04] lorthirk commented on #2749
[Done](https://github.com/eclipse/kapua/releases/tag/1.0.9)

[2019-10-29 16:04] #2749 closed, assigned to lorthirk

[2019-10-30 10:09] ct-ajovanovic commented on #2752
Another validation issue appeared when working with the schedule names.
It is is possible to enter any symbol or their combination for the schedule name.
The example of this is given in the next test:
[code]
There should be some validation here right?

[2019-11-01 09:08] ct-anaalbic commented on #2677
I closed this because issue is resolved.

[2019-11-01 09:08] #2677 closed

[2019-11-05 14:27] Coduz opened #2757 "Create integration test for Scheduler Service"
**Is your feature request related to a problem? Please describe.**
We need to add Unit and Integration test for the Scheduler Services.

**Describe the solution you'd like**
Integrating with Job feature, create test that starts Job in order to check:

- CRUD
- Simple interval triggering
- Cron interval triggering
- Processing on events

**Describe alternatives you've considered**
_None_

**Additio

[2019-11-08 09:51] gbarbon opened #2760 "Creation of an external user (SSO) with an ExternalID in the Console"
**Is your feature request related to a problem? Please describe.**

Related to PR #2754 "Refactoring of the SSO module" .

**Describe the solution you'd like**

Provide a dialog box to allow adding an external user with an "ExternalID" on the Kapua Console for the SingleSignOn functionality.

In particular, on the "New User" window for the creation of a new user, there should be a check box in ord

[2019-11-08 13:37] gbarbon opened #2761 "SSO - Multiple OIDC providers available at the same time"
**Is your feature request related to a problem? Please describe.**

It would be nice to give the possibility to login with different providers. The current SSO implementation does not allow one to use multiple SSO provider at the same time.

**Describe the solution you'd like**

At this time the provider must be chosen using the `sso.provider` configuration option, but this allows one to use only

[2019-11-08 14:06] gbarbon opened #2762 "Make the externalID (for SSO users) visible in the Console"
**Is your feature request related to a problem? Please describe.**

The SSO login feature relies on Users' ExternalIDs to link the Kapua User entity with the external SSO provider user entity. However, currently the user's ExternalIDs are not displayed in the "Users" module of the Console.

**Describe the solution you'd like**

It would be nice to first show if the users are External users, in ord

[2019-11-08 14:33] gbarbon opened #2763 "Change SSO module position and naming convention."
**Is your feature request related to a problem? Please describe.**

The SSO module is now placed in the root of the Kapua project. I think that the current position is not the best one, and it should be moved inside another module (no precise ideas for the moment).

Moreover the naming convention should be changed: since all the providers and the backend are based on OpenID Connect, everything sho

[2019-11-08 15:39] gbarbon opened #2764 "User (SSO) can be created using REST API with an existing ExternalID"
**Describe the bug**

An external user (SSO) can be created using the SimpleRegistrationProcessor or REST API. In the second case, one must perform a POST for the user creation providing the externalId attribute, that identifies the user on the OpenID Connect provider system. However, there are no checks on this externalId attribute, meaning that one can insert a new user with an external ID of an

[2019-11-08 16:30] gbarbon opened #2765 "SSO - The user names in the SSO provider and in Kapua can be different."
**Describe the bug**

It is possible to add an external user in Kapua via REST API with a name that is not the same of the user name in the SSO provider. This should not be possible, since they should have the same name.

**To Reproduce**

Using the userCreate REST API (with the _scopeId_ of the desired account, the _externalId_ corresponding to the ID in the SSO provider and a _name_ that do not

[2019-11-08 16:47] lorthirk opened #2766 "Extract recursive query logic from EndpointInfoService"
**Is your feature request related to a problem? Please describe.**
In `EndpointInfoService` we support querying recursively, i.e. looking not only in the current scope but also in parent scopes, up to the root scope. I think we should extract this logic to have it available in all services; additionally, we could also think about improving it in a couple of ways:

- Search direction: while queryin

[2019-11-12 07:55] pintify opened #2767 "Batch Job - Restart button available by device"
**Describe the solution you'd like**
After a successful job execution, there is the possibility to restart the job in all of the devices, but it cannot be launched only on one device. There should be the possibility to do that with the usage of the same Restart button on the Targets pannel.

[2019-11-12 08:31] pintify opened #2769 "Batch Job - Variables by device"
**Is your feature request related to a problem? Please describe.**
While working with multiple devices with very similar configuration, installation or update procedure, it is required however to create multiple jobs batch jobs even at the slightest difference.

**Describe the solution you'd like**
A possibility to edit _environmental variables_ on device menu so that such variables are available

[2019-11-12 08:38] pintify opened #2770 "Batch Job - Skip steps"
**Is your feature request related to a problem? Please describe.**
On the installation or update of multiple devices, some of them may require given packages that the rest of the don't. For a proper update of the devices it is then needed to create and launch multiple jobs (one for each combination of software provisioning).

**Describe the solution you'd like**
In order to avoid it, the targets c

[2019-11-12 09:07] pintify commented on #2769
Such feature could be also interesting by step, to ease the configuration of it, or additional features such as #2770

[2019-11-13 13:25] gbarbon opened #2773 "SSO provider dedicated logout"
**Is your feature request related to a problem? Please describe.**

Currently, logging out from Kapua does not imply logging out from the OpenID provider.
This means that, if the OpenID session has not expired yet, the user will be able to login again using the "SSO Login" button without submitting again the credentials.

However, one might require that the user is also logged out from the OpenID

[2019-11-14 16:29] pintify commented on #2767
Or, alternatively, add a button at Job level to restore the status of all the targets to awaiting. If neither of these features is added, there is no possibility to launch a job on a single target after a first execution, which makes the Restart button partially useless.

[2019-11-15 13:22] gbarbon opened #2774 "SSO Session invalidation on Kapua logout"
**Describe the bug**

Currently, logging out from Kapua does not imply logging out from the OpenID provider.
This means that, if the OpenID session has not expired yet, the user will be able to login again using the "SSO Login" button without submitting again the credentials.

We would like that the user would not be able to login again without inserting his credential, by invalidating his session

[2019-11-15 13:51] gbarbon commented on #2762
Update:
- we should add a column in the User table to help distinguishing between `INTERNAL` and `EXTERNAL` users; it is not necessary to display these two tags, but it would be sufficient to use an icon to distinguish between them;
- it is not necessary to display the `ExternalID` in the table, maybe it's just sufficient to display it  in the user 'Edit' window.

[2019-11-15 13:58] gbarbon commented on #2764
Update: this fix should not modify the current db (e.g. introducing a `UNIQUE` in the `ExternalId` column). We should instead implement something in the code to check that the `ExternalId` we're inserting does not already exists.

[2019-11-18 10:24] zanpizmoht opened #2776 "No Exception When Adding Same Permission To User More Than Once"
**Describe the bug**
When trying to add permissions to user from backend you can add same permission to the same user several times without any problems.

**To Reproduce**
Steps to reproduce the behaviour:
1. Create a generic user
2. Add some permission to user (i.e. role:read) and then add the same permission again to that user
3. No exception is thrown

**Expected behavior**
I believe there shou

[2019-11-21 13:46] #2714 closed, assigned to riccardomodanese

[2019-11-26 09:29] gbarbon opened #2782 "Make the SimpleRegistrationProcessor in the SSO enabled only through dedicated configuration option."
**Is your feature request related to a problem? Please describe.**

The SSO allows the creation of a user through the `SimpleRegistrationProcessor`, which also creates a dedicated account. However, this feature should be enabled by a configuration option, instead of being enabled by default.

**Describe the solution you'd like**

_N/A_

**Describe alternatives you've considered**

_N/A_

**Additio

[2019-12-17 15:23] Coduz commented on #2776
Hi @zanpizmoht ,

could you please show me which was the method used to create the permission? I know that we talked and was either  `AccessInfo.create(...) ` or someone else I don't remember.

Thanks,

_Alberto_

[2019-12-17 15:25] Coduz commented on #2713
Hi @zanpizmoht ,

`@` is actually an admitted char.
I'm working with @riccardomodanese  to check which are the correct rules of validation of that field and we will fix the validation on `DeviceRegistryService`, `DeviceConnectionService` and UI accordingly.

Regards,

_Alberto_

[2019-12-17 15:36] #2730 closed, assigned to Coduz

[2019-12-18 07:40] zanpizmoht commented on #2776
Hey @Coduz ,

yes, the method that is used for creating permissions is `AccessInfoService.create(...)` that is in AccessInfoService.java file.

Kind regards,
Zan

[2019-12-18 12:50] #2709 closed, assigned to Coduz

[2019-12-18 16:02] lorthirk commented on #2736
[Done](https://github.com/eclipse/kapua/releases/tag/1.1.1)

[2019-12-18 16:02] #2736 closed, assigned to lorthirk

[2019-12-19 08:38] #2710 closed, assigned to Coduz

[2019-12-20 15:14] ct-anaalbic opened #2798 "Problems with translators in kapua-translator-kura-mqtt module"
**Describe the bug**
This issue contains different problems, which are explained bellow.

1. Translators in kapua-translator-kura-mqtt module (`translate()` method) are not working correctly. In `TranslatorDataMqttKura` and `TranslatorDataKuraMqtt` all topics/channels pass without exception, which is wrong.
2. In TranslatorDataMqttKura, when user tries to translate `MqttMessage` into `KuraDataMess

[2019-12-23 14:27] zanpizmoht opened #2800 "No Description Entity Validation"
**Describe the bug**
When creating or editing entities like Group, Device or Tag, there is no validation for Description field. The method that is used to create i. e. new Group is `create(...)` in `GroupServiceImpl.java` file. There is only validation checking for Name but not for Description also.

**To Reproduce**
Steps to reproduce the behavior:
1. Try to create or edit new group with `update(

[2019-12-25 09:14] ct-ajovanovic opened #2802 "Unneded codevov.io bash command"
**Describe the bug**
The `travis.yml` file contains an unneeded bash command in one of the test stages.
This is unnecessary, as the `travis.yml` file already contains the `after_script` where this command is called. This is implemented as an additional change in one of my previous PR - #2755.

**To Reproduce**
Steps to reproduce the behavior:
1. Open the travis.yml file, and look at line 58
2. See

[2020-01-06 13:25] LeoNerdoG opened #2804 "Test Reports Not Accessible"
If you run all the tests (from localhost or on Travis), the report files are not generated properly - there are broken links.
Also "Authorization tests" should be moved from "Functional tests" to "integration tests"

**Testflow:**
1. Open the Kapua project (develop branch)
2. Run command `mvn clean install -DskipTests`
3. Run command `mvn verify -Dcommons.db.schema=kapuadb -Dcommons.settings.hotsw

[2020-01-07 11:35] pintify opened #2805 "Broker permission not forwardable"
**Describe the bug**
I'm not entirely sure if this is a bug or a desired behaviour, but broker permission is not forwardable. It is, therefore, impossible to read data from a topic of a subaccount with a parent account user. Considering that the same user can collect the data via the console and the API, I think it should be capable to get the data via de broker when it points to the proper topic.

[2020-01-07 12:57] cesem589 opened #2806 "What libraries or frameworks do you recommend to develop an app web that uses the Kapua API?"
We are developing an application to use the api of Kapua, which libraries or frameworks do you recommend? angular, react?

[2020-01-07 13:14] lorthirk commented on #2806
The frontend framework you choose is completely up to you, since you're going to talk with Kapua via REST API anyway.

[2020-01-07 14:00] cesem589 commented on #2806
Thanks for the answer, do you know any demo to guide me?

[2020-01-07 14:01] lorthirk commented on #2806
You can read REST API documentation currently available at `http://your-kapua-instance.com/doc/`

[2020-01-07 14:35] cesem589 commented on #2806
Thanks and another question, the programming logic where can I put it? If I want to process kapua data, before the app, what aproach can I use for that?

[2020-01-07 15:49] lorthirk commented on #2806
I guess it all depends on how you want to build your application.

Since the original issue has been answered I'm closing this issue. Please also consider our [Gitter room](https://gitter.im/eclipse/kapua) in order to ask generic questions about the project.

[2020-01-07 15:49] #2806 closed, assigned to nobody

[2020-01-08 09:34] riccardomodanese commented on #2805
Hi, the broker permissions are account bound (so not forwardable) by design.
The broker is meant to be a near real time component so, to not affect the performances, crossing the account boundary (like subscribing child account topics) is not allowed.
On the other side, the boundary crossing, is allowed by Console and RestAPI.

[2020-01-08 10:18] pintify commented on #2805
I see the problem, but then the permissions of the user of a parent account are inconsistent depending on how it connects to Kapua. I think it makes sense that such user can read this data (not writing) via broker.

Otherwise, how should we subscribe to the data from multiple accounts? Are we expected to create a new user for each of them as suggested in [Gitter](https://gitter.im/eclipse/kapua?at

[2020-01-08 10:32] riccardomodanese commented on #2805
You can do easily through Camel.
Please take a look to [camel.xml](https://github.com/eclipse/kapua/blob/develop/assembly/broker/configurations/camel.xml) and [camel-routes.xml](https://github.com/eclipse/kapua/blob/develop/assembly/broker/configurations/camel-routes.xml)

[2020-01-08 15:45] #2713 closed, assigned to Coduz

[2020-01-08 16:01] Coduz opened #2810 "Test for entity name validation"
**Is your feature request related to a problem? Please describe.**
Add unit test for PR #2796

**Describe the solution you'd like**
Add test on validation for the following entities:

`Tag.name`
`Group.name`
`Role.name`
`Trigger.name`
`TriggerDefinition.name`
`Job.name`
`JobStepDefinition.name`
`JobStep.name`

For both create and update (where available).

Test also utility methods of argument val

[2020-01-08 16:06] Coduz opened #2811 "Test for clientId validation"
**Is your feature request related to a problem? Please describe.**
Add unit test for PR #2807

**Describe the solution you'd like**
Add validation for DeviceConnectionService.create and DeviceRegistryService.create.

A valid clientId can contain any char but:

`#` `+` `*` `&` `,` `?` `>` `/` `::`

With min length of `1` and max length `255`

Also add test for duplicate clientiId

**Describe altern

[2020-01-08 16:52] #2802 closed, assigned to Coduz

[2020-01-13 11:41] Coduz opened #2820 "Exclude test classes from Codecov reports"
**Is your feature request related to a problem? Please describe.**
Codecov by default excludes sources under `src/main/test` from the coverage reports, but we have some modules used for testing that have code under `src/main/java` and also we have whole modules for integration testing and that code is currently counted in the report as missing code to be covered by test.

**Describe the solution y

[2020-01-15 15:30] ct-ajovanovic opened #2826 "Build failing on Windows machine"
**Describe the bug**
The build of latest `develop` fails when running `mvn clean install -DskipTests -Pconsole,docker` command on Windows.
**To Reproduce**
Steps to reproduce the behavior:
1. Checkout a new branch, up-to-date with the latest `develop`
2. Run `mvn clean install -DskipTests -Pconsole,docker`
3. The build fails with **The system cannot find the file specified** error in directory `ka

[2020-01-15 15:34] lorthirk commented on #2826
This is because apparently `npm install -g swagger-cli` installs the package in different dirs according to the host OS (`target/bin` in MacOS/Linux, `target/node` in Windows).

[2020-01-16 09:51] ct-ajovanovic commented on #2826
Hi @lorthirk
As a temporary solution, I tried to change this line here:
https://github.com/eclipse/kapua/blob/8322c752614c03d12f83aa969eeab43e95ae76db/assembly/api/pom.xml#L310
to this:
`<executable>${project.build.directory}/node/swagger-cli</executable>`

But, the build is still not successful after this change and I get these errors:

![image](https://user-images.githubusercontent.com/35954696/

[2020-01-16 10:25] lorthirk commented on #2826
That's odd, it looks like the NPM package doesn't understand that you're on Windows and then downloads a Unix executable. Maybe it's because you're using a Linux emulation with the Git Shell?

[2020-01-16 11:01] ct-ajovanovic commented on #2826
Yes, Git Shell does indeed use the Linux bash emulation.
I have run the command in question using Git Bash quite a number of times in the past, and I do not remember ever encountering this error.
Could this be caused by some recent changes?

[2020-01-16 13:39] lorthirk commented on #2826
Of course it is. Following #2795, now [swagger-cli](https://www.npmjs.com/package/swagger-cli) is installed and used at build time in order to merge all the OpenAPI specification files in one single file to be served by SwaggerUI. It probably doesn't play that well with your setup, somehow.

[2020-01-20 09:08] #2826 closed, assigned to lorthirk

[2020-01-20 09:59] #2820 closed, assigned to Coduz

[2020-01-22 16:25] stefanomorson opened #2833 "datastore - error in data view by topic when the topic name contains the character '°' (grade)"
If the name of the channel contains a special character like for example '°', then the data view by topic in the console shows an error as shown in the image attached.

<img width="263" alt="data_view_error_2" src="https://user-images.githubusercontent.com/11518067/72911960-3a60ab00-3d3b-11ea-9d51-df6dfe68e008.png">

**To Reproduce**
* Connect a device to Kapua
* Publish a message with a data topi

[2020-01-22 16:33] stefanomorson commented on #2833
The root cause of the issue is related to the encoding of the request bodies operated by the datastore service implementation and specifically by the RestDatastoreClient. The methods affected should be:
* upsert()
* query()
* count()
* deleteByQuery()
* putMapping()

[2020-01-27 08:48] #2833 closed, assigned to lorthirk

[2020-01-29 16:51] pintify commented on #1537
I've found the same issue. Running some performance analysis it turned out it was the cause of the delay was a token search in the ATHT_ACCESS_TOKEN table in H2 database. It affected to all the requests except for the login ones. I purged it of the invalid tokens and it started work properly.

At the beginning it had 50.000 rows and it lasted around 1500 ms in each request. Once I removed most of

[2020-01-29 17:03] lorthirk commented on #1537
When performing a REST API call we always do a login in the first place under the hood, by passing to the `AuthenticationService` the JWT with the `Authorization: Bearer` HTTP header. This is of course needed because REST APIs are stateless and we have to recreate the session every time.

By only providing the JWT we have no other choice than do a full text search on the `token_id` column in order

[2020-01-30 06:13] LeoNerdoG opened #2838 "Error When Trying to List Items in Kapua Console"
Kapua does not list items in UI (see sample screensot bellow). This happens in all views, only in Settings tab we get "error 500, call failed on server".

**Testflow:**
1. Checkout latest develop branch, build it with the "mvn clean install -DskipTests -Pconsole,docker" command
2. Open kapua on local machine in web browser on "localhost:8080"
3. Login as kapua-sys user
4. Click on any item in the

[2020-01-30 07:31] LeoNerdoG opened #2839 ""NULL" Errors When Trying to List Roles and Permissions in User View"
When trying to list roles and permissions of a user, you get a "null" error without a description (see screenshot bellow).

**Testflow:**
1. Checkout latest develop branch, build it with the "mvn clean install -DskipTests -Pconsole,docker" command
2. Open kapua on local machine in web browser on "localhost:8080"
3. Login as kapua-sys user
4. Go to Users, select kapua-broker/kapua-sys users and nav

[2020-01-30 07:43] LeoNerdoG opened #2840 "Unable to See Metrics One by One in Data View"
If you connect a live device to kapua (e.g. Kura) that publishes some data, you cannot see one metric alone - you have to select all of them in order to see published data.

**Testflow:**
1. Login as kapua-sys or any other user that has needed permissions
2. Connect a live Kura device to Kapua with installed Example Publisher or any other pacakge that transmits data
3. Go to Data view in kapua and

[2020-01-31 08:57] SebsSa opened #2841 "Connect a Device without Kura !"
Hey,
I just started and would like to use Kapua for a project. The project itself already has a communication stack and I would not like to use Kura.

Before I dive into the source code I would like to know if it is possible to connect a device to the Kapua platform in another way?

Unfortunately I can't find any examples or help for this.
Maybe there is someone who can explain to me how to connec

[2020-01-31 08:59] LeoNerdoG commented on #2841
Hey @SebsSa,
I think this question is more suitable for our [Gitter Room](https://gitter.im/eclipse/kapua) - I think you should get answer there fast! =)

Leo

[2020-01-31 13:40] code-incubus opened #2842 "User Password Validation Error"
**Describe the bug**
Found user password validation error.

**To Reproduce**
Steps to reproduce the behavior:
1. Add the following test scenario:
[code]
2. Run the scenario.
3. No exception will be thrown when creating a password with more than 255 characters.

**Expected behavior**
An exception of type _KapuaIllegalArgumentException_ or similar should be thrown when creating a new user with a pas

[2020-02-03 16:32] Coduz opened #2845 "Release notes 1.1.2"
#### Description

Write release notes for `1.1.2`

#### Affeccted environment

_None_

#### Related issues

_None_

#### Additional info

_None_

[2020-02-04 20:03] sebascarra opened #2847 "Is Apache Karaf mandatory to build and use Kapua?"
I am attempting to build Kapua in a restricted environment. Long story short, I can only build Kapua if I comment out the following in ./client/gateway/features/pom.xml, basically leaving out the sub-project kapua-client-gateway-feature-karaf:

    <!-- <modules>
        <module>karaf</module>
    </modules>

Is it mandatory to have this component or can I completely forget about it and build Kapu

[2020-02-05 09:27] lorthirk commented on #2845
[Done](https://github.com/eclipse/kapua/releases/tag/1.1.2)

[2020-02-05 09:27] #2845 closed, assigned to lorthirk

[2020-02-05 14:06] Coduz commented on #2847
Hi @sebascarra ,

if you want to specifically exclude modules from the build (specifically exclude them from the reactor build list) maven has a built it option to do that.

You can use the `--projects` (`-pl`) option. Here is some example of usage [1]
In this case, to exclude that module you should use
[code]

Depending on the terminal you are using, the `!` must be escaped, so you likely have to

[2020-02-05 14:40] sebascarra commented on #2847
Thank you @Coduz for the response. I will ask separately what components could be considered optional for Kapua to work alongside Kura gateways. The reason is that we have to run Kapua and Kura in a safe environment and we've found some components (e.g. Karaf 4.1.1, used in Kapua 1.1.0 and 1.1.1) have vulnerabilities.

[2020-02-05 14:45] sebascarra opened #2848 "What are the mandatory modules that have to be built in Kapua to allow it to work with Kura gateways"
I have to build from source Kapua in a restricted environment where procuring certain plugins and dependencies is not possible. For this reason I would like to know what Kapua modules can be left out of the build process. I do need to run the Kapua docker images (console, api, broker, events-broker, etc.) but I don't need things such as fancy examples, rarely used features, etc.

I do need Kapua's

[2020-02-05 14:47] sebascarra commented on #2847
@Coduz I have created issue https://github.com/eclipse/kapua/issues/2848 wher I ask what are the strictly required Kapua components for a successful build. Maybe you know the answer because I'm likely to have issues with other components as well.

Thank you.

[2020-02-05 14:52] lorthirk commented on #2848
Well... I'd say it depends on your specific case. The Broker, the Event Broker and the DB are the only containers that are strictly required for basic functionalities; apart from those three, you could choose to opt out the other ones:

- Are you only interested in Device Management, and no data storage? You don't need Elasticsearch
- Are you going to manage the system only via the Console? You do

[2020-02-05 15:10] sebascarra commented on #2848
Thank you for the fast response. I will join the room, but to be brief what I need is:

I need to do Device Management, Data Management and the REST-API to link new Kura gateways and their devices programatically.

[2020-02-05 16:03] Coduz commented on #2847
Hi @sebascarra ,

No problem.

Regarding components that have vulnerabilities we are working to slowly move forward dependency versions to allow those to be solved and to keep the pace with our dependencies's new versions.

Unfortunately we cannot upgrade straightforward to the last version available since there are  some procedures that must be followed in order to have them approved.

I''l close

[2020-02-05 16:03] #2847 closed, assigned to Coduz

[2020-02-09 19:56] cbugk opened #2850 "Can't deploy Keycloak as SSO on Openshift"
After setting up an X2go-xfce4 enabled server on gcloud, and following procedure below ended up with error: /tmp/builds/dev-tools/openshift/sso/Dockerfile not found

Kapua:  `wget https://github.com/eclipse/kapua/archive/release-1.1.x.zip`
Openshift: 3.11 binaries

Running openshift cluster on Ubuntu18.04 (previously tried Centos7)
`oc cluster up`
`oc login -u system:admin`
`oc adm policy add-clus

[2020-02-10 09:44] gbarbon commented on #2850
Hi @psykobug , just two hints. First of all, concerning

it might be related to the fact it is not able to connect to the github repo (a connection to the kapua github repo is required in order to deploy keycloak on openshift). As for:

The Dockerfile is actually on `deployment/openshift/sso`, not on `dev-tools`. Did you changed something in the project structure, or something that could impact wi

[2020-02-10 10:39] Coduz commented on #2841
Discussion continued on Gitter: https://gitter.im/eclipse/kapua?at=5e33ed94f6945f41ef4a43e7
Closing this.

[2020-02-10 10:39] #2841 closed, assigned to lorthirk

[2020-02-10 11:22] Coduz commented on #2838
Hi @LeoNerdoG ,

when the message on the first screenshot appears:
[code]
usually means that the code cached in the browser is not in sync with the code running on the server.

Can you please try to force reload (CMD + SHIFT + R on chrome), or clean the browser's cache or use another browser?

Regards,

- Alberto

[2020-02-10 11:24] Coduz commented on #2839
Hi @LeoNerdoG ,

I'm assuming the session was the same of the issue #2838 .

Could you please try that solution and check again this behaviour?

Regards,

_Alberto_

[2020-02-10 13:40] Coduz opened #2851 "Retrieval of DeviceEvent performance degradation"
**Describe the bug**
When having an high number of DeviceEvents for a Device, the retrieval performance degrades over time with increasing of the DeviceEvents present.

Looking at a deployment that contained ~70000 DeviceEvents for a Device, the retrieval takes more than 30s. Executing some SQL queries it appears that SORTing by `received_on` DESC takes the most time. Running the same query withou

[2020-02-10 16:02] lorthirk opened #2852 "MetricPredicate translates to incompatible query in Elasticsearch REST Client"
**Describe the bug**
The current implementation of `MetricPredicate` translate to a query that consider the Datastore Schema. Specifically, an example `MetricPredicate` would translate to JSON as

[code]

While it should translate to this JSON to support our current schema:

[code]

This means that filtering for a metric type and/or value would always return 0 entries

**To Reproduce**
Steps to re

[2020-02-11 00:26] cbugk commented on #2850
Firstly, thanks.
Idk why github was not reachable in the first place, but my concern is on the /tmp/... part.

I am curious about whether that file-not-found error was due to pod (container) created having no access to a volume which were to connect `deployment/openshift/sso/`, due to a change in repository's structure (folders being moved around). Where can I check the volumes on keycloak pod (un

[2020-02-11 08:00] gbarbon commented on #2850
I checked the `keycloak-template.yml`, actually the `dev-tools/src/main/openshift/sso/` is pointing to an old position of the sso module. Using `deployment/openshift/sso` as you mentioned should fix it, please keep me updated.

[2020-02-11 11:09] LeoNerdoG commented on #2839
Hey @Coduz,
I have checked this in the latest develop branch with all the caches deleted, but the problem persists. I tried this on Firefox, Chrome, Safari and Opera and it is all the same in all of the browsers.

[2020-02-12 08:52] #2852 closed, assigned to lorthirk

[2020-02-13 09:32] #2804 closed, assigned to nobody

[2020-02-13 19:32] cbugk commented on #2850
It turns out that, problem of not resolving github.com was due to dns setings of Ubuntu VPS on GCloud. After adding `nameserver 8.8.8.8` (any DNS should suffice) to bottom of `/etc/resolv.conf` and then `oc cluster up`'ing solved it. I guess Centos7 VPS did not have such issue in the first place. Though there are few changes I would like to suggest, I will open requests for those (after I find out

[2020-02-13 19:33] #2850 closed, assigned to nobody

[2020-02-18 10:49] code-incubus opened #2856 "Job Description Validation Error"
**Describe the bug**
Found job description validation error.

**To Reproduce**
Steps to reproduce the behavior:
1. Add the following test scenario:
[code]
2. Run the scenario.
3. The test is passed.

**Expected behavior**
An exception of type KapuaIllegalArgumentException or similar should be thrown when creating a new job with a description over 255 characters.

**Screenshots**
/

**Version of Ka

[2020-02-20 13:02] zanpizmoht opened #2857 "Account Lockout Policy Max Failures Can Be Set To 0"
**Describe the bug**
You can set lockoutPolicy.maxFailures to 0 under accounts credential service and Kapua behaves the same way as if it was set to 1. That means that after one failed login user is locked. I believe the best solution to that would be to not allow 0 value for maxFailures.

**To Reproduce**
Steps to reproduce the behavior:
1. Login as kapua-sys
2. Create an account, and create one

[2020-02-20 15:24] kcsj17 opened #2858 "Correctly populate elasticsearch ip_address field"
**Is your feature request related to a problem? Please describe.**
Incorrect/Placeholder IP set in elasticsearch json "_source.ip_address" field when Kura data is stored in elasticsearch datastore

**Describe the solution you'd like**
Correctly populate elasticsearch "_source.ip_address" field with all IPs received in Kapua "Network Interface IP Address" field

**Describe alternatives you've consi

[2020-02-21 10:48] Coduz commented on #2858
Hi @kcsj17

after a brief discussion with @lorthirk, I think that that field doesn't make sense to exists.
Does not make sense to bind an IP to the message. There are many problems when getting the actual connection IP (ie. NATs, Loadbalancers in the way, etc) and using the IP of the instance that store that message too has no relevance for the DataMessage itself.
It was meant to implement further

[2020-02-21 13:48] lorthirk commented on #1537
I was thinking again about this, since I went to implement the first option mentioned in the comment above.

Unfortunately, my reasoning fell short immediately: when we're creating the JWT we still have no ID, of course, since the row hasn't been written yet, so we cannot insert it in the JWT. My proposal is to create another field, solely for indexing purpose, that contains a random UUID generate

[2020-02-26 09:33] LeoNerdoG commented on #2662
Based on the PRs that have been merged (see above) and now that the "reafctoring" PR is also merged and tests are stable, I am closing this.

[2020-02-26 09:33] #2662 closed

[2020-02-28 07:39] LeoNerdoG opened #2867 "Submit Button Active Although Mandatory Fields Not Populated"
If user selects "EXECUTABLE_SCRIPT" option in "File Type" dropdown menu in Devices > Packages > History/In Progress > Install, Kapua enables the "Submit" button, although amndatory fields are not populated (see GIF bellow).

**Testflow**
1. Login as kapua-sys or any other user that has proper permissions
2. Connect a live Kura device to Kapu
3. Go to Devices, select the connected device, go to Dev

[2020-02-28 07:39] LeoNerdoG opened #2868 ""Log" Button Not Active in Devices -> Packages"
If you connect live Kura device to Kapua, "Packages" tab gets activated, which is OK. But the problem is that the "log" button is active and does nothing when clicked on.

**Testflow**
1. Login as kapua-sys or any other user that has proper permissions
2. Connect a live Kura device to Kapua and go to Devices > Packages
3. Try clicking on "Log" button and observe the result

**Expected behavior**
"

[2020-02-28 07:39] LeoNerdoG opened #2869 "Empty Message When Clicking on Devices > Packages > History Button"
If you connect a live Kura device to Kapua and you navigate to Devices > Packages > History, a info box opens that is toraly empty (see screenshot bellow).

**Testflow:**
1. Login as kapua-sys or any other user that has proper permissions
2. Connect a live Kura device to Kapua and go to Devices > Packages
3. Click on "History" tab and observe the empty info box on the right hand side

**Expected b

[2020-02-28 07:39] LeoNerdoG opened #2870 "History Paging Buttons Active Although Nothing in the List"
If you connect a live Kura device to Kapua and you navigate to its Packages tab, there are active paging buttons in "History" tab and if you clicked them, everything freezes.

**Testflow:**
1. Login as kapua-sys or any other user that has proper permissions
2. Connect a live Kura device to Kapua and go to Devices > Packages
3. Click on History tab and after that click on one of the paging buttons

[2020-02-28 12:57] kcsj17 commented on #2858
So, for my use case, having the IP that the Kura device can be accessed with, in the message, was useful to eliminate the need to manually setup "drill down" links in my Grafana dashboards that visualize the kura data...If the IPs existed, the "drill down" links could be made with a template variable referencing the ip_address field. My workaround at the moment is manually set the IPs wherever I n

[2020-03-04 06:33] gnunzi commented on #1044
Hi, sorry for follow-up: how would the broker destroy a connection then? Is there a particular message to be sent or ?
Thanks,

[2020-03-17 11:36] lorthirk opened #2898 "Email addresses with top level domains longer than 4 characters are rejected"
**Describe the bug**
Currently any email address with a top level domain longer than 4 characters is rejected

**To Reproduce**
Steps to reproduce the behavior:

1. Go to Console->Child Accounts->New
1. As email address, use one with a TLD longer than 4 characters (e.g. claudio@lorthirk.online)

This is only one example. Every component in Kapua that accepts an email address is affected.

**Expect

[2020-03-18 08:55] #2898 closed, assigned to lorthirk

[2020-03-22 11:42] nicomrtnz97 opened #2907 "Unable to get access to console or other service"
Hello

I have run the docker-deploy.sh on my Rasppberry pi, and then tried to go to de kapua console. I tried with localhost and with the ip address on my rpi browser and in my pc browser but I am no able to enter.
When I do docker ps -a I get the nex output:
CONTAINER ID       IMAGE                                     STATUS
8c7fdd07b3d5     "/bin/sh -c /var/opt…"        Exited (1) 46 minutes ago

[2020-03-23 05:50] LeoNerdoG commented on #2907
Hi @uo251410,
Raspberry Pi does not meet the minimum hardware specifications for running Kapua. By this I mean that you don't have at least 8GB of RAM, that is needed to run all the docker containers - you should use a "proper" PC/MAC with at least 8GB of RAM, that should suffice for running you operating system and docker containers.
I have tried this od all versions of Raspberry Pi (even lastest

[2020-03-23 09:39] Coduz commented on #2907
Hi @uo251410 ,

yes I can confirm what @LeoNerdoG said.
Kapua on docker needs more resources than what a Raspberry Pi can give. You likely will se container that are not running (part or all of them).

Regards,

_Alberto_

[2020-03-24 10:06] lorthirk commented on #2907
Since running Kapua on a Raspberry Pi is not supported, I'm closing this issue.

[2020-03-24 10:06] #2907 closed, assigned to Coduz

[2020-03-24 10:17] gbarbon commented on #2773
I close this since it's superseded by issue #2774

[2020-03-24 10:17] #2773 closed, assigned to nobody

[2020-03-24 10:18] lorthirk opened #2910 "NullPointerException in Console when showing Role Permissions, User Permissions or User Roles"
**Describe the bug**
A `NullPointerException` is thrown in the following views:

- Users: Roles Tab, Permissions Tab
- Roles: Permissions tab

**To Reproduce**
Steps to reproduce the behavior:
1. Open one of the aforementioned tab

**Expected behavior**
The list is shown without any error

**Screenshots**
![Schermata 2020-03-24 alle 11 16 40](https://user-images.githubusercontent.com/8140139/77414

[2020-03-24 10:19] lorthirk commented on #2839
#2910 is a duplicate of this one. However, I'll close this as duplicate, as #2910 covers also Roles Permissions.

[2020-03-24 10:22] lorthirk commented on #2910
Duplicate of #2839

[2020-03-24 10:22] #2910 closed, assigned to lorthirk

[2020-03-24 10:23] lorthirk commented on #2839
As noted in #2910, the same issue occurs also in Role -> Permissions.

[2020-03-24 11:51] #2839 closed, assigned to Coduz

[2020-03-24 13:29] LeoNerdoG opened #2912 "Create Unit Tests for StringUtil Class in Commons Package"
As there is no coverage for StringUtil class in Commons package, I have added some tests to test its functionality - PR will be linked shortly.

After the PR is merged, this should not be closed, as we will add some more tests.

[2020-03-24 15:53] Sin5625 commented on #1941
Hello, I am working on a school project and using the kapua-develop from kit. So far I have been able to connect with the client over MQTT. I am trying to connect to Kapua-broker over WS from my client. It works fine with MQTT, but not with MQTTS or WS. Do I need to explicitly publish the port 61614 when i run the kapua-broker container through docker? I see in the docker-compose.yml that port 616

[2020-03-24 16:00] Sin5625 opened #2915 "Connecting over Websocket"

[2020-03-25 10:41] Coduz opened #2916 "Release notes 1.1.3"
#### Description

Write release notes for `1.1.3`

#### Affeccted environment

_None_

#### Related issues

_None_

#### Additional info

_None_

[2020-03-25 13:30] lorthirk commented on #2916
[Done](https://github.com/eclipse/kapua/releases/tag/1.1.3)

[2020-03-25 13:30] #2916 closed, assigned to lorthirk

[2020-03-25 15:43] #2915 closed, assigned to nobody

[2020-03-26 08:42] Coduz commented on #2912
This has been closed bit GitHub automation.
I've reopened as per issue description

[2020-03-27 18:29] Sin5625 opened #2918 "Cannot connect to child account on Kapua (1.1.3)"
I am using Kura and can connect to Kapua with kapua-sys and kapua-password
However when I make a child account and user, I am not able to connect to it.

[log_27032020.txt](https://github.com/eclipse/kapua/files/4395273/log_27032020.txt)

[2020-03-28 19:48] lorthirk commented on #2918
Yes, it is a known issue in 1.1.3. Are you sure it's happening in 1.1.2 as well?

[2020-03-28 21:47] Sin5625 commented on #2918
I build 1.1.2 and i can connect. I am changing in the heading.

[2020-03-31 08:50] #2918 closed, assigned to nobody

[2020-03-31 09:32] Coduz opened #2921 "Release 1.1.4"
#### Description

Write release notes for `1.1.4`

#### Affeccted environment

_None_

#### Related issues

_None_

#### Additional info

_None_

[2020-03-31 09:33] Coduz opened #2922 "Release Notes 1.1.5"
#### Description

Write release notes for `1.1.5`

#### Affeccted environment

_None_

#### Related issues

_None_

#### Additional info

_None_

[2020-03-31 15:31] lorthirk commented on #2921
[Done](https://github.com/eclipse/kapua/releases/tag/1.1.4)

[2020-03-31 15:31] #2921 closed, assigned to lorthirk

[2020-04-07 09:32] Coduz commented on #109
Closing this issue due to change of plans for the Web Administration Console

[2020-04-07 09:32] #109 closed

[2020-04-07 09:32] Coduz commented on #110
Closing this issue due to change of plans for the Web Administration Console

[2020-04-07 09:32] #110 closed

[2020-04-07 09:33] Coduz commented on #133
Closing this issue due to change of plans for the Web Administration Console

[2020-04-07 09:33] #133 closed

[2020-04-07 09:36] Coduz commented on #285
Closing this issue due to change of plans for the Web Administration Console

[2020-04-07 09:36] #285 closed

[2020-04-08 11:33] LeoNerdoG opened #2931 "User Gets Logged Out After 20 Seconds"
I have noticed, that user gets logged out of the console 20 seconds after the login happens - regardless if user clicks something or not.

**Testflow:**
1. Login as kapua-sys
2. Wait for 20 seconds and then try to click something (e.g. Settings)
3. Observe the error "You are not logged in"

**Expected behavior**
User should not get logged out automatically after 20 seconds.

**Screenshots**
/

**V

[2020-04-08 11:35] lorthirk commented on #2931
Do you also have a Kura/ESF console tab open in the same domain, by any chance?

[2020-04-08 11:36] LeoNerdoG commented on #2931
Yes, I have real Kura device (Raspberry Pi on my home network) and a dockerized Kura available on port 7100 on my local machine - is this a problem?

[2020-04-08 11:38] lorthirk commented on #2931
I noticed that when you keep both Kapua and Kura tabs, and they both are running on the same domain (e.g. `localhost`), Kapua reports a logout almost immediately. I think there must be come conflict with the Session Cookie or something.

[2020-04-08 11:56] LeoNerdoG commented on #2931
I would leave this issue open anyway, if anybody else enocunters this or me again 😄
@lorthirk thanks for your insight and help!

[2020-04-09 09:42] lorthirk commented on #2922
[Done](https://github.com/eclipse/kapua/releases/tag/1.1.5)

[2020-04-09 09:42] #2922 closed, assigned to lorthirk

[2020-04-15 08:10] #2767 closed, assigned to lorthirk

[2020-04-19 15:04] gitsaycat opened #2939 "Limit of total fields [1000] in index"
Hi
We have been successfully running Kapua for almost a year now to receive data from field devices and are very impressed.
However, as our tests get more complex we are starting to accumulate many more data points and seem to have run into an upper limit for fields [1000].
Is there any way to increase this limit?
We are running v1.0.3
Thanks.

[2020-04-23 10:31] stefanomorson opened #2948 "View Data by topic - Topic-List scrolls to top when a folder is expanded"
Ensure that in the topic-list panel there's a list of first level topics long enough to activate scrolling. Move down in the the list and expand the first level folder icon. Ensure the folder has sub topics inside and there are some metrics as well. As soon as the list of the metrics appear on the right, the  topic-list on the left is scrolled up to the top.
As an additional info, the issue was ob

[2020-04-23 10:47] stefanomorson opened #2949 "View Data by topic - Topic-List scrolls to top when last-updated-on are updated with delay"
Ensure that in the topic-list panel there's a list of first level topics long enough to activate scrolling and ensure that the update of the last-updated-on values is displayed with some delay after the topic-list. Push refresh button and move down in the the list. As soon as the last-updated-on values appear, the  topic-list on the left is scrolled up to the top.
As an additional info, the issue

[2020-04-23 11:10] stefanomorson opened #2950 "View Data by Topic - generic error popup when refresh of the topic-list fails due to timeout"
If the refresh of the topic-list fails due to timeout of the underlying datastore rest requests, an error pup-up is displayed in the lower left corner as in the image below.

**Expected behavior**
Should the message be more meaningful ?

**Screenshots**
![Screen Shot timeout error](https://user-images.githubusercontent.com/11518067/80092515-35421080-8563-11ea-9e66-b11e3fb2771b.png)

**Version of K

[2020-04-27 16:54] stefanomorson opened #2952 "Build and test dependencies for Kapua 1.2.0"
This issue to track build and test dependencies for Kapua 1.2.0:

This CQ has to be filed at least two weeks before submitting the IP log approval:

Name - Version - License

## Maven Plugins:

Maven Exec Plugin (org.codehaus.mojo:exec-maven-plugin) - 1.6.0 - Apache 2.0
https://github.com/mojohaus/exec-maven-plugin
Frontend Maven Plugin (com.github.eirslett:frontend-maven-plugin) - 1.8.0 - Apache

[2020-04-28 08:08] lorthirk commented on #2952
#2953 fixes the version for `swagger-cli`

[2020-04-28 14:29] #2948 closed, assigned to lorthirk

[2020-04-28 14:29] #2949 closed, assigned to lorthirk

[2020-04-29 11:19] lorthirk commented on #2939
I'm sorry, what fields are you exactly talking about? Metrics, perhaps?

[2020-04-29 12:56] gitsaycat commented on #2939
HI Claudio - yes metrics. We seem to be hitting some limits
Thanks.

On Wed, Apr 29, 2020 at 7:20 PM Claudio Mezzasalma <notifications@github.com>
wrote:

[2020-04-29 15:43] zanpizmoht opened #2958 "Bug in ValueTokenizer class at validation"
**Describe the bug**
I found a bug when writing unit tests for method `validate(KapuaTad ad)`. There is a bug when validating a STRING.

**To Reproduce**
Go to ValueTokenizer.java class. See line 223 (if statement).

**Expected behavior**
The comparison should be between s.length and minVal (not maxVal).

**Version of Kapua**
1.2.0

**Type of deployment**
[ ] Local Vagrant deployment
[ ] Docker
[

[2020-05-01 07:27] gitsaycat commented on #2939
Is this a hard limit or could it be configurable?
Thanks

[2020-05-03 07:15] lorthirk commented on #2939
The only limit I can think about about the Datastore is 10000 (ten thousands), not 1000 (one thounsand). It's because Elasticsearch limits the results of a single query to 10000. Data is still there though, so the only issue is how we retrieve them.

[2020-05-04 14:42] Coduz commented on #2629
This has been superseded by https://github.com/eclipse/kapua/issues/2661 in Kapua 1.1.0

[2020-05-04 14:42] #2629 closed

[2020-05-04 14:55] Coduz commented on #2248
Closing this issue as per last comment!

[2020-05-04 14:55] #2248 closed

[2020-05-04 15:00] Coduz commented on #2209
@LeoNerdoG  btw for heights max... You forgot that the sky is the limit! 🚀 🚀 🚀

[2020-05-04 15:01] Coduz commented on #2209
Moving on this issue but this actually requires changes on Kura side to support limits for configuration fields.
We might close this?

[2020-05-04 15:07] Coduz commented on #2180
AS other issues this is wating on Kura to support limits on configuration field constraints/limits

[2020-05-04 15:11] Coduz commented on #2046
Hi all,

we might add a message that says that this Service has not configurable parameters available

Regards,

_Alberto_

[2020-05-04 15:26] Coduz commented on #1846
Il lot of places `KapuaId.ONE` has been used to reference `kapua-sys` Account and/or User, because it usually is seeded in the database with id `1`. Since this can sometime not being the case, we need to get the Account and/or User reference getting those from the values of the configuration or utilities.

[2020-05-04 16:12] Coduz commented on #699
We are slowly add javadoc as we add new stuff and fix bugs.
So we move this issue on to the next release.

[2020-05-04 16:14] Coduz commented on #802
Any comments?

[2020-05-04 16:20] Coduz commented on #1531
This issue is duplicate of #2498 .
It should be the opposite but things happens! 🤷
This issue has been addressed in 1.1.0.
Marking invalid

[2020-05-04 16:20] #1531 closed

[2020-05-04 16:24] Coduz commented on #2563
This issue is tied to issue #2636

[2020-05-04 16:25] Coduz commented on #2636
This issue is tied to issue #2563

[2020-05-04 16:27] Coduz commented on #266
We can make this in a way that `DeviceEvent`s can have a raw body in which we can store raw bodies (like we currently do with the DataMessages)

[2020-05-05 05:03] LeoNerdoG commented on #2209
Hey @Coduz,
can we keep this issue opened, I will also open one on Kura side and link it to here, so we can track it on both ends and don't forget about either of them? So when Kura team fixes this, we can check again on Kapua side - just to be sure 😄

And yes - sky is the limi, if you are outside. If you are indoors, ceiling might have different plans.... 😄

[2020-05-05 05:11] LeoNerdoG commented on #802
Hey @Coduz @riccardomodanese,
I suggest that we use this issue or another one just to track documentation progress. Like ctron said in issue #780, it is more error prone to have multiple locations of same or similar document, so we should just go through everything we have (wiki pages here on Github, readme.md files etc...) and make a plan how to make proper documentation.
What I suggest is that w

[2020-05-05 07:58] #204 closed

[2020-05-05 08:06] #2760 closed, assigned to nobody

[2020-05-05 08:06] #2762 closed, assigned to nobody

[2020-05-05 08:06] #2764 closed, assigned to nobody

[2020-05-05 08:06] #2774 closed, assigned to nobody

[2020-05-05 08:06] #2782 closed, assigned to nobody

[2020-05-05 12:03] Coduz commented on #2717
I've just tested this and is seems work fine.
Closing issue

Steps
![Screen Shot 2020-05-05 at 2 02 00 PM](https://user-images.githubusercontent.com/3942036/81063984-218a9880-8ed9-11ea-84bc-a4901c68a5c4.png)

Target
![Screen Shot 2020-05-05 at 2 02 11 PM](https://user-images.githubusercontent.com/3942036/81064002-294a3d00-8ed9-11ea-9bf7-a176629964d9.png)

[2020-05-05 12:03] #2717 closed, assigned to nobody

[2020-05-05 12:28] Coduz commented on #1686
Tested in `develop` and it works

[2020-05-05 12:29] Coduz commented on #1686
`/_/data/messages?metricName=errorCode`

[code]

[2020-05-05 12:30] Coduz commented on #1686
`/_/data/messages?metricName=errorCode0`
[code]

[2020-05-05 12:31] Coduz commented on #1686
`/_/data/messages?metricName=errorCode&metricType=integer&metricMin=-1&metricMax=10`
[code]

[2020-05-05 12:35] Coduz commented on #1686
This has been likely fixed with this PR https://github.com/eclipse/kapua/pull/2853

[2020-05-05 12:35] #1686 closed

[2020-05-05 12:46] Coduz commented on #625
This has been likely fixed with this PR #2853

[2020-05-05 12:46] #625 closed

[2020-05-05 12:55] Coduz commented on #2952
CQ filed: [22006](https://dev.eclipse.org/ipzilla/show_bug.cgi?id=22006)

[2020-05-05 13:15] Coduz commented on #2757
Part of the test has been implemented.
We will open a new issue for the missing tests for Cron Trigger stuff

[2020-05-05 13:15] #2757 closed, assigned to nobody

[2020-05-05 13:21] LeoNerdoG opened #2965 "New Tests for CRON Interval Triggering (Scheduling Jobs)"
**Is your feature request related to a problem? Please describe.**
We are missing a part of tests for "CRON Interval Triggering" (if you look into Jobs in kapua GUI, you will see that we have several options).
We have tests for:
 - CRUD of schedulers
 - Simple interval triggering
 - Processing on events

but we are missing the:
 -  - CRON interval triggering

**Describe the solution you'd like**
W

[2020-05-05 15:41] #1244 closed

[2020-05-06 13:55] Coduz opened #2968 "Fix getting started on Eclipe Kapua website"
**Describe the bug**
We need to update informations on the Eclipse Kapua project website about getting started.

[code]

This need to be fixed and also there is a not available image on the Kura section.

[2020-05-13 08:09] gbarbon opened #2971 "SSO provider session not invalidated at Kapua session invalidation"
**Describe the bug**
When the session expires, the user is logged out from the Kapua console. However, if the user is an external one logged through SSO, he can login again by simply clicking on the 'SSO Login' button, without the need to insert again his credentials. This is due to the SSO session not yet invalidated, while the Kapua Console one already is.

One possible solution would be to simp

[2020-05-13 15:26] gbarbon opened #2972 "SSO - Port SSL and Keycloak Docker deployment SSO scripts on Windows"
**Is your feature request related to a problem? Please describe.**
PR #2933 introduces new SSO-dedicated scripts that deploy Keycloak with Docker compose and enable communication via SSL to the Keycloak container. However, these scripts are Unix shell scripts. It would be nice to have also PowerShell scripts for the Windows environment.

**Describe the solution you'd like**
A dedicated `win/sso` d

[2020-05-21 08:29] code-incubus commented on #126
Hey @Coduz, @LeoNerdoG   I've checked this issue and all the above-mentioned scenarios are covered under these two feature files:
- qa/integration/src/test/resources/features/user/UserPermissionI9n.feature
- qa/integration/src/test/resources/features/user/UserRoleServiceI9n.feature

Therefore I think this issue can be closed.

[2020-05-21 10:13] lorthirk commented on #2968
I fixed the `Getting Started` guide adding Git as a prerequisite, fixing the Unix script path and adding the Windows quickstart. As per the Kura image, it's not on the server anymore, so I removed the reference.

[2020-05-21 10:13] #2968 closed, assigned to nobody

[2020-05-22 12:34] Coduz commented on #126
This issue has been closed a while ago by many PRs.
Moving this to 1.2.0 project and marking as Done

[2020-05-22 12:34] #126 closed

[2020-05-22 15:00] gbarbon opened #2986 "Shiro realms in Kapua Console are initialised twice"
**Describe the bug**

When booting the console the Shiro realms detailed in the `shiro.ini` file are initialised twice.

The realm initialisation seems to be managed by the `execute()` method of the Shiro `ReflectionBuilder` class. This method has a loop that iterates over a list of 'statements' (6 in our case), and initialises them one by one (see `LifecycleUtils.init(bd.getBean());` at line 785

[2020-05-25 09:58] stefanomorson opened #2987 "Upgrade license to EPL 2.0"
According to [1] we should upgrade EPL license version to 2.0.

[1] - https://www.eclipse.org/legal/epl-2.0/faq.php#h.60mjudroo8e5

[2020-05-25 14:08] pintify opened #2988 "Button to remove device connection"
**Is your feature request related to a problem? Please describe.**
Both by error, tests or deprecation of devices, the device connections tab gets increasingly filled with unnecessary connections that makes the monitoring of connections harder to perform

**Describe the solution you'd like**
A Delete button on the console (or method through API) to remove a connection or a set or connections.

[2020-05-28 09:32] pintify commented on #1537
Hi, we're experiencing repeated issues on this matter as the use of the platform is increased, is there any advance?

[2020-05-28 14:20] gbarbon opened #2990 "SSO - Kapua session should be invalidated when the OpenID Connect session expires on OP"
**Is your feature request related to a problem? Please describe.**
This feature is intended as an improvement for the current OpenID Connect-based Single Sign ON approach.

**Describe the solution you'd like**
If the user logs out from the OpenID Provider (OP) before the IdToken expiration date, the Kapua Console should terminate/invalidate the current user session. At this moment the Kapua Consol

[2020-05-29 01:14] gitsaycat commented on #2939
@lorthirk - the limit seems to be around the number of metric names we're creating.
Unfortunately we lost the logs related to the experiment and have been struggling to get back to status quo for other reasons.
Are there any limits to the number of metric fields that may be created?
We will try to get the logs to help with this if you cannot think of anything related to this.
Thanks!

[2020-05-29 06:32] miricy opened #2991 "liquibase.exception.DatabaseException: Invalid default value for 'created_on' [Failed SQL: ALTER TABLE meeting.sys_event_store MODIFY created_on timestamp(3) DEFAULT current_timestamp()"
**Describe the bug**
I try it use database mysql 5.6, mysql 8.0.

all 1.2.0 database update liquibase file like below:

<databaseChangeLog
        xmlns="http://www.liquibase.org/xml/ns/dbchangelog"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://www.liquibase.org/xml/ns/dbchangelog
                      http://www.liquibase.org/xml/ns/dbchangelog/d

[2020-05-29 06:54] lorthirk commented on #2939
Again, there's no limit to the number of metrics you can create, however there may be a limit of 10000 to the number of metrics you can retrieve with the current implementation.

Could you deploy a test instance of Kapua and fill it with more than 10000 metrics to check such limit?

[2020-05-31 13:00] craigMull commented on #2931
I have recently started playing around with Kapua and kura in docker and can confirm I have seen the same annoying effect, where the user gets logged out of the console a few seconds after the login happens.

After seeing this issue and closing the Kura [docker] Tab, this issue goes away.

Version of Kapua
Latest develop branch

Type of deployment
[ ] Local Vagrant deployment
[x] Docker
[ ] Opensh

[2020-06-03 12:19] stefanomorson commented on #2987
As requested in [1], when the upgrade is done notify EMO @eclipse.

[1] - https://bugs.eclipse.org/bugs/show_bug.cgi?id=563366

[2020-06-04 06:22] LeoNerdoG opened #2993 "Cannot Run Kapua Dockerized Integration Tests"
Following the [KapuaRunTests.md](https://github.com/eclipse/kapua/blob/develop/RunTests.md) guide, I was unable to run integration tests within dockerized environment with `mvn test -PI9nTests` command.
@Coduz can you please assign this issue to me, since I have noticed this couple of days ago and have made some progress fixing this?

**Testflow:**
1. Go to Kapua folder, run a clean build with com

[2020-06-04 06:22] LeoNerdoG opened #2994 "Cannot Run Kapua Unit Tests"
Following the [KapuaRunTests.md](https://github.com/eclipse/kapua/blob/develop/RunTests.md) guide, I was unable to run unit tests with command `mvn test -Dgroups='org.eclipse.kapua.test.junit.JUnitTests'`.
integration tests within dockerized environment with `mvn test -PI9nTests` command.
@Coduz can you please assign this issue to me, since I have noticed this couple of days ago and have made some

[2020-06-04 06:22] LeoNerdoG opened #2995 "Kapua Integration Tests Not Run Properly"
Following the [KapuaRunTests.md](https://github.com/eclipse/kapua/blob/develop/RunTests.md) guide, integrationt tests were not run when executing them without dockerized environment (with command `mvn clean install`).

**Testflow:**
1. Go to Kapua folder, run a clean build with comman: `mvn clean install -DskipTests`
2. After the build finishes run command: `mvn test` or `mvn clean install`
3. Obs

[2020-06-09 09:12] Coduz opened #2999 "Release Notes 1.2.0"
#### Description

Write release notes for `1.2.0`

#### Affeccted environment

_None_

#### Related issues

_None_

#### Additional info

_None_

[2020-06-09 09:13] Coduz commented on #2999
Done: [1.2.0](https://github.com/eclipse/kapua/releases/tag/1.2.0)

[2020-06-09 09:13] #2999 closed, assigned to lorthirk

[2020-06-09 09:37] Coduz commented on #2952
Release has been completed!

[2020-06-09 09:37] #2952 closed, assigned to nobody

[2020-06-16 09:14] Coduz opened #3001 "Release Notes 1.2.1"
#### Description

Write release notes for `1.2.1`

#### Affeccted environment

_None_

#### Related issues

_None_

#### Additional info

_None_

[2020-06-16 14:47] Coduz commented on #3001
Done [1.2.1](https://github.com/eclipse/kapua/releases/tag/1.2.1)

[2020-06-16 14:47] #3001 closed, assigned to lorthirk

[2020-06-17 09:33] #2971 closed, assigned to nobody

[2020-06-17 10:52] Coduz commented on #2991
Hi @miricy

Sorry for the late response.

The column should be Timestamp(3).
Do you tried that on a fresh install or you upgraded from 1.1.x to 1.2.0?

Regards,

_Alberto_

[2020-06-17 11:58] pintify opened #3002 "Configuration validation limits string fields to 256 characters"
**Describe the bug**
In the devices tab, when you are modifying the configuration of a component, the verification of the fields limits the characters of String parameters to 256 as shown in the images:

255 characters ->
![imagen](https://user-images.githubusercontent.com/31854894/84894686-7b1ddf80-b0a1-11ea-94ca-fd43e49d3148.png)

256 characters ->
![imagen](https://user-images.githubusercontent

[2020-06-18 01:27] miricy commented on #2991
@Coduz Thank you for your response,
What's the 'timestamp(3)' mean in mysql,
Whether the default date is in this range.

[2020-06-19 01:08] miricy commented on #2991
I excute the sql script direct in mysql, but the error is also happen.
[code]
the error is:
09:01:29	ALTER TABLE sys_event_store MODIFY created_on timestamp(3) DEFAULT current_timestamp()	Error Code: 1067. Invalid default value for 'created_on'	0.0027 sec

But modify timestamp(3) to timestamp is ok.

[2020-06-24 14:31] Coduz commented on #2991
Maybe this will fix the error but only get around the problem.

`TIMESTAMP(n)` identifies a column of type `TIMESTAMP` with `n` digits of precision.

So `TIMESTAMP(3)` identifies a `TIMESTAMP` column with millisecond precision. If, for example, we use `TIMESTAMP(6)` we will have a nanosecond precision.

So if you use TIMESTAMP you'll loose the precision of that field, which can be critical in some

[2020-06-25 09:19] lorthirk opened #3005 "Elasticsearch REST Client tries to connect when Datastore is disabled"
When the Datastore is disabled via the `KAPUA_DISABLE_DATASTORE` environment variable, the Elasticsearch REST Client tries to initialize anyway multiple times, producing a few errors.

**To Reproduce**
Steps to reproduce the behavior:
1. Disable datastore with the `KAPUA_DISABLE_DATASTORE` environment variable
2. Use REST API to interact with the Datastore
3. Check Log

**Expected behavior**
The c

[2020-06-29 04:49] miricy commented on #2991
@Coduz Yes, you are right.
I think the problem is the default value 'current_timestamp()' can't auto cast to 'timestamp(3)'.

I excute " ALTER TABLE sys_event_store MODIFY created_on timestamp(3) DEFAULT current_timestamp(3); " in mysql,
and it's ok .

In the 'common-properties.xml' file, Can we modify
[code]
to
[code]
Below is the mysql document :
![image](https://user-images.githubusercontent.co

[2020-06-30 11:44] LeoNerdoG commented on #2800
After fixing this, please check PR #2886 - uncomment tests "Creating unique Access Group with too long description" and "Editing Access Group description to too long description" in file "service/security/test/src/test/resources/features/GroupServiceUnitTests.feature".
I am commeting this here so we don't forget to include the test from PR mentioned.

[2020-06-30 11:53] LeoNerdoG commented on #2856
After fixing this issue please uncomment all the commented tests that are part of PR #2862.

[2020-07-03 13:58] Coduz commented on #3002
Hi @pintify ,

I'm opening a PR which increases the limit values for fields and textareas.

Regards,

- Alberto

[2020-07-03 16:07] #3002 closed, assigned to nobody

[2020-07-06 07:52] Coduz opened #3012 "Release notes 1.2.2"
#### Description

Write release notes for `1.2.2`

#### Affeccted environment

_None_

#### Related issues

_None_

#### Additional info

_None_

[2020-07-06 07:54] Coduz opened #3013 "Release notes 1.2.3"
#### Description

Write release notes for `1.2.3`

#### Affeccted environment

_None_

#### Related issues

_None_

#### Additional info

_None_

[2020-07-06 08:49] lorthirk commented on #3012
[Done](https://github.com/eclipse/kapua/releases/tag/1.2.2)

[2020-07-06 08:49] #3012 closed, assigned to lorthirk

[2020-07-06 12:38] LeoNerdoG opened #3016 "No Rest API Tests"
There are little or no REST API tests for now in our test suite.
Bellow there is a list of services that need to be tested.
We will create REST API tests through Postman and then export the JSON file into a specific location.

The tests will be run with Newman in Travis, also a new stage will be added to our Travis CI - REST API stage.
@Coduz please assign this issue to me. I will updated it as we

[2020-07-07 14:41] Coduz opened #3018 "Device Event cleanup task"
**Is your feature request related to a problem? Please describe.**
it would be nice to have a task which removed obsolete Device Events which now makes the `dvc_device_event` table very big after a while.
This also affects performance of retrieval like shown with issue #2851

**Describe the solution you'd like**
A job which runs periodically and deletes device events which are older than a certain

[2020-07-08 07:45] #2851 closed, assigned to Coduz

[2020-07-08 14:42] riccardomodanese opened #3020 "AbstractKapuaConfigurableResourceLimitedService throws npe if maxNumberChildEntities is not present"
**Describe the bug**
AbstractKapuaConfigurableResourceLimitedService throws npe if maxNumberChildEntities is not present in configuration map due to implicit cast to primitive.
Should be investigated if other implicit casts can throw npe.

**To Reproduce**
none

**Expected behavior**
no exception thrown

**Screenshots**
none

**Version of Kapua**
1.2.2

**Type of deployment**
[x] Local Vagrant dep

[2020-07-09 09:02] Coduz commented on #2991
Yes that would be a viable solution 😁
Do you want to make the PR?

[2020-07-09 12:55] #3020 closed, assigned to riccardomodanese

[2020-07-10 15:59] lorthirk commented on #3013
[Done](https://github.com/eclipse/kapua/releases/tag/1.2.3)

[2020-07-10 15:59] #3013 closed, assigned to lorthirk

[2020-07-15 06:06] cs83312 opened #3024 "Building failure in kapua-device-registry-internal"
Hi everyone
i have building kapua project ,but it's return exception about error executing SQL.

Caused by: liquibase.exception.DatabaseException:
Error executing SQL CREATE TABLE PUBLIC.dvc_device_package_source (scope_id BIGINT(21) unsigned NOT NULL, id BIGINT(21) unsigned NOT NULL, created_on TIMESTAMP DEFAULT NOW() NOT NULL, created_by BIGINT(21) unsigned NOT NULL, package_name VARCHAR(255) NO

[2020-07-15 07:53] Coduz commented on #1537
Hi all,

we are just about to release Kapua 1.2.4, which contains a fix for this issue.
When you'll upgrade the version, can you please recheck if this issue is solved?

Thanks,

_Alberto_

[2020-07-15 07:59] pintify commented on #1537
I'll let you know as soon as we update the version, although we will have to wait some time to verify that the performance is not degraded over the time

[2020-07-15 08:05] Coduz commented on #1537
No problem, we will keep this issue open for that time!

[2020-07-16 10:16] pintify opened #3025 "Batch Job - Reorder steps"
**Is your feature request related to a problem? Please describe.**
In a job already created, if a new step is required in the beginning of the job it is necessary to remove and create back again all the steps.

**Describe the solution you'd like**
Add in the Steps tab the possibility to move up and down a step so that it changes its step index, or even the possibility to drag it if possible.

[2020-07-17 15:42] #2991 closed, assigned to nobody

[2020-07-21 06:09] #3024 closed, assigned to nobody

[2020-07-22 10:47] pintify opened #3037 "Optional read in Assets tab"
**Is your feature request related to a problem? Please describe.**
When a device has lots of industrial devices connected, the delay reading them in the Assets tab is considerable and it is easy to exceed the timeout of 30 seconds in the read.

Besides, in Assets tab it is possible to view the assets and variables much more comfortably than in the Configuration tab. Such other tab shows them much

[2020-07-28 10:44] gbarbon opened #3038 "Use only one property for the 'audience' and 'client_id' OpenID Connect properties"
**Is your feature request related to a problem? Please describe.**
Simplify the OpenID Connect properties by using only one property for the `sso.openid.client.id` and `sso.generic.openid.jwt.audience.allowed` (the second property is used only for the `generic` provider), since they basically represent the same value.

**Describe the solution you'd like**
Use only one property instead of two diffe

[2020-07-29 14:46] lorthirk commented on #3037
@Coduz correct me if I'm wrong, but this is actually not possible, right? I mean, the assets are not stored anywhere, they're always coming live from the device. Should we think about caching them somehow?

[2020-07-29 15:25] gbarbon opened #3041 "The OpenID idToken should never be 'null'"
**Is your feature request related to a problem? Please describe.**
The OpenID idToken can never be `null`. The `login` method of the `GwtAuthorizationServiceImpl` class already performs a check. However, if the flow does not pass through that method (e.g. in case of tests), the idToken can be `null`.

**Describe the solution you'd like**
Add a check on the `login` method of the `AuthenticationServ

[2020-07-30 06:02] LeoNerdoG commented on #3037
Hey @lorthirk,
I think that caching is a bad idea in this particular case. I mean, you can have stored the device somewhere (cache in this case), but in order to refresh them, you will always have to retrieve the fresh list of assets from the device.
I think that caching would introduce all sort of problems and testing this would be a real problem.

@pintify I understand your concern and solution

[2020-07-30 06:15] lorthirk commented on #3037
Well... from a strict REST API view, we have both `/{scopeId}/devices/{deviceId}/assets` and `/{scopeId}/devices/{deviceId}/assets/_read`. I should dig in the code right now to have a better picture, but from an external perspective we should make sure that just reading **the list** of assets doesn't read **values** as well. If we're already doing that, we should investigate on how to improve perf

[2020-07-30 16:28] gbarbon opened #3044 "Use the 'well-known' configuration document to configure the SSO OpenID providers"
**Is your feature request related to a problem? Please describe.**
The SSO `generic-provider` in Kapua requires passing various properties in order to connect properly to the OpenID Provider. However, we could simply read the `well-known` configuration document provided by the OpenID Provider and configure the `generic-provider` consequently.

The `well-known` configuration document is part of the

[2020-08-05 07:47] pintify opened #3049 "Account list not properly shown"
**Describe the bug**
Sometimes (approximately half of the times), when the list of available accounts is shown, it appears with only one row with the kapua-sys account:

![imagen](https://user-images.githubusercontent.com/31854894/89385308-b6cb4200-d6ff-11ea-846b-6d3a111b6842.png)

In these cases, also sometimes the list is just there but only with a one row height view, allowing to choose the acc

[2020-08-06 10:56] gbarbon commented on #3038
I recently discovered an OpenID Provider implementation that was using different values between clientId and audience, thus the only way to make it work was to use two different values for these properties. Since the generic-provider should be more 'permissive', I prefer maintaining two distinct properties (I will however improve the related documentation). I'm thus closing this issue.

[2020-08-06 10:56] #3038 closed, assigned to nobody

[2020-08-07 08:15] #3041 closed, assigned to gbarbon

[2020-08-14 14:40] lorthirk commented on #2869
Hey @LeoNerdoG,

I was unable to reproduce this. Could you please double check?

[2020-08-18 15:06] lorthirk opened #3055 "Unable to refresh expired Access Token with a valid Refresh Token"
**Describe the bug**
If an Access Token has expired but the related Refresh Token is still valid, the `refresh` operation will fail

**To Reproduce**
Steps to reproduce the behavior:
1. Obtain an Access Token
2. Let that token expire (30 minutes by default)
3. Try to refresh the access token via REST API
4. See error

**Expected behavior**
A new Access Token should be returned

**Version of Kapua*

[2020-08-19 11:25] #3055 closed, assigned to lorthirk

[2020-08-21 15:59] ochinellato opened #3057 "Retrieve device events with time interval filter"
**Is your feature request related to a problem? Please describe.**
Normal paging with limit and offset is not suitable for device events browsing.

**Describe the solution you'd like**
The endpoint to retrieve the device events should provide parameters to filter the events according to a time interval.
Something like startDate and endDate should be ok (same params used in the dataMessage endpoint

[2020-08-24 07:26] pintify commented on #1537
The new version has been running for one month and the performance of the API REST is still adequate. The issue seems to be solved.
Thanks for the dedication!

[2020-08-25 10:37] MirkoPiaia opened #3062 "Add askTotalCount parameter to user endpoint"
I have to list and paginate the users but I don't know how many are the total elements to display.

When I call the API to retrieve the list of users, I would like to specify the askTotalCount paremeter in order to get the totalCount of elements to paginate the results.

[2020-08-25 11:19] LeoNerdoG commented on #3049
Hey all, I cna confirm the behaviour as I have encountered it.
I have posted my findings on the relavant PR.

[2020-08-25 13:15] LeoNerdoG commented on #2869
Hey @lorthirk I was unable to reproduce this, so I am closing. Maybe it was a glitch on my side.

[2020-08-25 13:15] #2869 closed, assigned to nobody

[2020-08-26 10:09] #3062 closed, assigned to lorthirk

[2020-08-26 10:11] #3057 closed, assigned to lorthirk

[2020-08-26 10:17] #2931 closed, assigned to nobody

[2020-08-26 10:45] LeoNerdoG commented on #2931
I have verified that this issue has been successfully resolved.

[2020-08-26 13:41] #2868 closed, assigned to nobody

[2020-08-26 14:36] #3049 closed, assigned to lorthirk

[2020-08-26 14:38] Coduz commented on #3049
Hi @pintify ,

This has been merged in `develop` and backported in `release-1.2.x` and released with Kapua `1.2.5`.

Regards,

Alberto

[2020-09-02 09:16] #3044 closed, assigned to gbarbon

[2020-09-18 15:31] gbarbon opened #3074 "Redundant DeviceMenagementException and DeviceManagementException"
**Is your feature request related to a problem? Please describe.**
The `DeviceMenagementException` (wrong spelling) should be replaced by the (already existing) `DeviceManagementException`, since the former simply replicates part of the latter.  Moreover, two different definitions of `DeviceManagementException` currently exist, thus one of the two can disappear.

**Describe the solution you'd like

[2020-09-21 12:32] megla-tlanghorst opened #3077 "How to create services via the REST API"
I'm trying to create a Group of services (CloudService, DataService, MqttDataTransport) for kura via the REST API. I'm trying to use `/{scopeId}/devices/{deviceId}/configurations`, but it only seems to configure existing services and doesn't create new ones. Is there any way to create those via the API?

[2020-09-25 08:32] lorthirk commented on #3077
Hi @megla-tlanghorst,

`/{scopeId}/devices/{deviceId}/configurations` only exposes configurations for services already installed on Kura. In order to create a new service you have to create a new development package on Kura itself.

[2020-09-25 08:35] megla-tlanghorst commented on #3077
So there's no way to create a new service via the kapua REST API, e.g. without direct access to the device? (The package for the service is already available, we already have 2 Services configured and I able to add a 3rd via the kura UI, but as the devices are out in the field and the UI also doesn't use the API it's hard to automate)

[2020-09-25 08:40] lorthirk commented on #3077
Sorry, I partially misunderstood your question. Basically you're asking to create new instances of an already existing service via its factory.

As far as I know, the Kura API does not allow this. So I'm afraid there's no way currently. Have you already tried passing an array of instances to the `/configurations` endpoint in Kapua?

[2020-09-25 08:43] megla-tlanghorst commented on #3077
Yes I have. To be sure I also loaded one of the current sets only modified the names and references but it still did seem to create anything.

[2020-09-25 08:48] lorthirk commented on #3077
So I'm afraid the issue is more on the Kura API.

I'll close this for now, but should you find some new elements in Kura I'll gladly reopen this.

[2020-09-25 08:48] #3077 closed, assigned to nobody

[2020-09-26 02:16] swiftconnect opened #3082 "Pure node client for Kapua from SwiftSense"
We have a pure node (actually node-red) client for Kapua that is :
- Do MQTT-over-TLS connectivity with Kapua
- Able to register in Kapua console as a device
- Send data to Kapua
- Provide a CMD-V1 application to receive commands
- Provide a CONFIG-V1 application to allow Kapua based configuration management

We have run our Kapua installation with limited commercial loads (upto 50-60 clients) wit

[2020-09-28 07:50] megla-tlanghorst commented on #3077
So apparently this works via snapshots, which are uploadable via the UI, but not via the API, so eventhough that probably won't help me here this might be worth an addition

[2020-09-29 14:21] gbarbon opened #3085 "Adjustable logging level"
**Is your feature request related to a problem? Please describe.**
The console log level is always set to INFO. It would be nice to allow the user to modify the log level in order to support debugging.

**Describe the solution you'd like**
The Log4j level should be defined through an environment variable.

**Describe alternatives you've considered**
_N/A_

**Additional context**
This is required b

[2020-09-30 13:26] gbarbon opened #3088 "Two Factor Authentication feature"
**Is your feature request related to a problem? Please describe.**
We should introduce in Kapua a Two Factor Authentication authentication method. Two Factor Authentication (a.k.a. TFA or 2FA) is a type of [Multi Factor Authentication](https://en.wikipedia.org/wiki/Multi-factor_authentication) in which a user must present a combination of two valid factors in order to authenticate to a system. The

[2020-09-30 16:15] danpotter-et opened #3089 ""Modified By" column in Child Accounts shows incorrect data"
**Describe the bug**
The "Modified By" field in the Child Accounts UI table displays the account creator, not the most recent modifying entity.

**To Reproduce**
Steps to reproduce the behavior:
1. Log in to the UI as a user, say User_1
2. Click on the Child Accounts tab
3. Create an account
4. Log out and log in again as a different user, say User_2
5. Edit the account and save changes
6. Observe

[2020-10-02 10:21] gbarbon opened #3091 "Allow enable/disable of kapua-sys user"
**Is your feature request related to a problem? Please describe.**
Currently `kapua-sys` user is enabled by configuration and disabling it is not allowed by business logic.
It would be nice to allow enabling/disabling such user, in order to support the following use case:

- _As a platform administrator I want to disable the `kapua-sys` user after the initial platform configuration has been carrie

[2020-10-08 07:24] #3074 closed, assigned to gbarbon

[2020-10-08 09:57] #3091 closed, assigned to gbarbon

[2020-10-08 10:44] lorthirk opened #3098 "CSV file with exported device events is wrong"
**Describe the bug**
The CSV with exported device events is wrong

1. The field `Account Name` shows the _client ID_
2. The field `Position Status` shows the _event type_ (MISSING, BIRTH, etc.)
3. The field `Response Code` shows the _event message_

Additionally, sometimes the CSV files contains no entries at all, just the column headers

**To Reproduce**
Steps to reproduce the behavior:
1. In _De

[2020-10-08 15:34] #3089 closed, assigned to lorthirk

[2020-10-09 07:24] #3098 closed, assigned to lorthirk

[2020-10-09 12:20] Coduz commented on #3085
This has been closed with #3086

[2020-10-09 12:20] #3085 closed, assigned to gbarbon

[2020-10-12 14:56] lorthirk commented on #3082
Hey @swiftconnect, thanks for reaching out.

What kind of feedback do you have in mind exactly?

[2020-10-13 14:58] swiftconnect commented on #3082
Going forward we want to look at several core functional areas for example:

- Possibility of upgrading elasticsearch (current versions work with 5.4)
- Hooking up Kapua to an existing ES cluster (rather than clustering the entire pod as one)
- Switching ES for a different TSDB like Influx
- Exposing the message routing process (currently it seems to be very much kept under wraps)
- And others

Ar

[2020-10-13 16:15] lorthirk commented on #3082
For sure we're going to do something about upgrading Elasticsearch. I already started a branch for this but we have to plan the upgrade path carefully. Also using an external ES cluster should be already possible since the cluster address is configurable. As for the other points I think we would need additional investigation, so feel free to open issues for those or get in touch in the [Gitter Roo

[2020-10-13 16:22] riccardomodanese opened #3105 "complete the KapuaSecurityContext improvements"
**Is your feature request related to a problem? Please describe.**
The KapuaSecurityContext improvements done by #3066 need a small improvement more.
The property mechanism, instead of being hardcoded using fields, should be flexible to allow pluggability.

**Describe the solution you'd like**
Few properties, instead of being declared as fields, could be grouped in a properties map.

**Describe al

[2020-10-14 02:11] swiftconnect commented on #3082
Thanks for your response Claudio.
Would it be possible to discuss the overall setup with you directly over a
call? Basically we want to ensure that we align our roadmap with yours.
If we move ahead with Kapua in production, it will take the system a long
time to grow to the millions of nodes projected. But we need to ensure that
we get the basics right the first time.

On Wed, Oct 14, 2020 at 12:1

[2020-10-14 03:50] swiftconnect commented on #3082
For example - the upgrade path for ES is very important for us. We are
unable to continue at all with 5.4 any further.
Would be great to understand these roadmap items

On Wed, Oct 14, 2020 at 12:16 AM Claudio Mezzasalma <
notifications@github.com> wrote:

[2020-10-14 14:25] Coduz opened #3108 "Account Configuration view refreshes view on error"
**Describe the bug**
When editing settings in Setting tab in Account View the panel gets refreshed when a configuration applied is invalid or produces an error when applying.
It would be nicer that in case of error the view does not refresh in order to let the user fix data inserted.

**To Reproduce**
1. Login into console
1. Go to Account View
1. Create a child account
1. Go to setting tab
1. Set

[2020-10-15 10:19] Coduz opened #3111 "Re-add support for ElasticSearch multiple nodes"
**Is your feature request related to a problem? Please describe.**
With PR #3068 we lost the capability to connect to multiple nodes and we need to re-add it.

**Describe the solution you'd like**
Re-add the configuration parameters to allow specify multiple nodes.

**Describe alternatives you've considered**
_None_

**Additional context**
_None_

[2020-10-15 12:46] #3108 closed, assigned to Coduz

[2020-10-16 12:17] #3105 closed, assigned to riccardomodanese

[2020-10-19 08:28] #3111 closed, assigned to Coduz

[2020-10-21 10:40] gbarbon opened #3116 "TLS/SSL protocol version selection for MariaDB"
**Is your feature request related to a problem? Please describe.**
We should provide a parameter to force TLS/SSL protocol to a specific set of TLS versions when connecting to Maria DB. This would allow preventing connections using deprecated TLS/SSL versions.

**Describe the solution you'd like**
It should be sufficient to modify the `MariaDBJdbcConnectionUrlResolver` and the `SystemSettingKey` c

[2020-10-23 11:20] funnyboys1008 opened #3118 "Can you please tell me how to run kapua in dev mode locally, for instance I want to make changes in kapua console code and run it on the (jetty or any other) server on localhost in windows/linux os?"
We are making our best effort to keep documentation clear and updated.
Unfortunately it can happen that we have failed.
Feel free to submit your question about Kapua. Please try to use the search box to search across open/closed issue before submitting a new question: you may be not the first with that question!

[2020-10-25 16:29] lorthirk commented on #3118
Hi @funnyboys1008 !

Am I correct assuming that you're working on update the Kapua documenation? If so, it would be great if you could contribute it to the community!

[2020-10-25 17:47] riccardomodanese commented on #3082
Hello,
    thank you for your feedback, it's really appreciated.

Recently we had some difficulties keepinga regular schedule for Kapua meeting and we are working to reestablish them as soon as possible.
In the meanwhile we can arrange a spot call.
We are more or less CET based.
Do you have any day/hour preference?

[2020-10-26 15:59] lorthirk commented on #3116
Closed by #3117

[2020-10-26 15:59] #3116 closed, assigned to nobody

[2020-10-27 01:47] swiftconnect commented on #3082
Hello Riccardo
Thank you for your message. I think an agenda based call will be very useful - at least for now.
We are Singapore based and happy to work with your timings.
Looking forward to hearing from you
Thanks,
The SwiftSense Team

[2020-10-27 09:01] lorthirk commented on #3082
Well, I think this kind of discussion would perfectly fit the Kapua Community Meeting, that is scheduled next for next Thursday ad 14:30 CET at the usual address https://bluejeans.com/192143067. Would that work for you? We can arrange a separate call if not.

[2020-10-27 09:04] funnyboys1008 commented on #3118
Yes, surely I will update the kapua documentation as well.

[2020-10-27 13:36] lorthirk commented on #3118
That's great.

I'm not sure what you're asking here in this issue though 😄

[2020-10-27 15:07] riccardomodanese opened #3119 "Security plugin should allow authentication logic to be pluggable"
**Is your feature request related to a problem? Please describe.**
Security plugin should allow authentication logic to be pluggable through configuration parameter

**Describe the solution you'd like**
DefaultAuthenticator should allow to overwrite both user and admin profile AuthenticationLogic

**Describe alternatives you've considered**
none

**Additional context**
none